[2016-06-25 12:44] sindresorhus commented on #255
What if those files are updated in new commits? They would be collapsed, but would probably need another review.

[2016-06-25 12:49] sindresorhus commented on #208
@paulmolluzzo Sorry, I don't understand what you're proposing.

If you mean the line numbers match with the previous commit, that's just a lucky coincidence. Usually it does not.

What is *related* in this context?

[2016-06-25 12:54] paulmolluzzo commented on #256
That'd be like creating a queued process, which will clog up the `click` listener until that entire process is complete. We can only trigger `click` after the loading is complete because the button gets disabled.

It might work fine, but anyone in a thin connection is going to have a longer process. Worth a shot.

[2016-06-25 12:59] sindresorhus commented on #256
Ugh, so many problems 😛 Let's try and see.

[2016-06-25 13:02] paulmolluzzo commented on #208
No, I mean each commit is outlined (top and bottom) by a thin gray line. We should highlight everything in that block as "the relevant part of the parent commit". The line numbers often _don't_ match. I'm saying unite the line numbers and highlight every line affected by the parent commit.

Looking at the file there may be areas multiple areas affected in a single commit. We'd find all the "blocks

[2016-06-25 13:04] paulmolluzzo commented on #208
@sindresorhus using my last screenshot we would highlight lines 18-33, which all fall in commit `3287d9b`

[2016-06-25 13:08] paulmolluzzo commented on #256
I'm curious if there's a better solution. Maybe we can figure a way to "pause" the virtual clicks if a user interacts and then resume when the user stops?

// @DrewML

[2016-06-26 03:38] #237 closed

[2016-06-26 14:05] sindresorhus commented on #208
Sounds good to me.

[2016-06-29 08:51] tmosmant commented on #255
True, in this case they should uncollapse.

[2016-06-29 14:54] DrewML commented on #255
@tmosmant I could be wrong, but I don't think the UI gives us any hints that would allow us to determine if a file has changed. Happy to be proven wrong :)

[2016-06-29 15:02] tmosmant commented on #255
You have the `View` button on each diff which contains the whole commit hash. I think we can use it for that purpose.

[2016-07-03 18:17] DrewML commented on #255
Nice! Good call. I guess we'd have to start persisting more info in `chrome.storage` for this feature, but that doesn't seem like the worst thing in the world.

@sindresorhus @paulmolluzzo thoughts?

[2016-07-03 20:45] sindresorhus commented on #255
I'm -0. Wouldn't use it, but don't feel strongly about not having it either.

[2016-07-03 21:22] paulmolluzzo commented on #255
If I come back to a PR and there are changes that are hidden because the file is collapsed that'd be annoying (or worse).

What would we persist and test for? That the current commit is the same as the hash on the button? You'd have to reset the state for all files if someone rebases or amends and forces an update, so there's that to consider too (though the test I mentioned would do that, I think

[2016-07-04 03:17] DrewML commented on #226
@sindresorhus Have any problems with this feature being added back? Specifically, a button that allows collapsing (and probably re-expanding) all files in a diff? We'd still keep the default behavior of everything being expanded on page load.

This is something I'd use frequently @ work.

[2016-07-04 07:20] tmosmant commented on #255
I've already worked on this problem and the solution I came up with was to save a generated ID like `{PR-ID}{COMMIT-HASH}{FILE-PATH}` in the localStorage every time the user collapsed a diff, and remove it when uncollapsing.

[2016-07-04 07:21] tmosmant commented on #255
Missclick!

[2016-07-05 00:38] DrewML commented on #255
That was my only concern with this. I had a similar concern when doing #251, but didn't really address it because it's data that is likely still valuable days/weeks/month down the line.

@tmosmant mentioned removing the data on uncollapse (I assume that means either manual or automated on page load), which would likely take care of a good chunk of data.

According to [this page](https://developer.

[2016-07-05 00:40] DrewML commented on #256
Ugh, this is a hell of a painful problem. I tried replicating it earlier today, but there is so much activity from my job's org that I always have a full page on the first load :(

[2016-07-05 00:43] DrewML commented on #151
Going to close for now, since there are > 1 other extensions in the wild that do exactly this. Happy to re-open if someone thinks of a good reason this would make more sense in `refined-github`.

[2016-07-05 00:43] #151 closed

[2016-07-05 07:25] tmosmant commented on #255
My suggestion is that we can remove data on manual uncollapse and also have an expiration. At page load, data older than x days can be removed - does a week sounds good?

[2016-07-07 11:08] sindresorhus commented on #226
It was removed in https://github.com/sindresorhus/refined-github/issues/85#issuecomment-198780016.

-

Why? What's the use-case?

[2016-07-07 20:55] joshmanders commented on #216
Any momentum?

[2016-07-07 22:49] DrewML commented on #216
@joshmanders submitted a PR

[2016-07-09 05:16] wyze opened #259 "Incorrect content loaded on Issues/PRs tabs when repo is empty"
Check out the below screenshot:

<img width="1006" alt="screen shot 2016-07-08 at 11 22 47 pm" src="https://cloud.githubusercontent.com/assets/186971/16706235/0a2c9150-456a-11e6-8af0-88148428d554.png">

I narrowed it down to [`showRecentlyPushedBranches`](https://github.com/sindresorhus/refined-github/blob/master/extension/content.js#L198-L209) being the culprit here.

I'd like to take a stab at t

[2016-07-09 09:33] hkdobrev commented on #259
@wyze Hi! Thanks for reporting this issue! However this has already been reported in #216 and is being worked on over at #258. I'm closing this as a duplicate, but feel free to chime in in the linked issue and PR and probably help solve this problem.

[2016-07-09 09:33] #259 closed

[2016-07-09 13:06] wyze commented on #259
Oh shoot, I should have searched better first. Sorry for the duplicate issue! I'll subscribe to the other issue and PR. Thank you.

[2016-07-10 11:37] giampaolo commented on #80
Definitively something I'm also looking for.

[2016-07-11 15:31] shaharmor opened #260 "feature request - save labels & assignee when changing PR branch"
When creating a PR in GitHub, if you add a label (or an assignee for that matter) and then you change the base branch in which you want the PR to be merged into, it will remove your labels & assignee.

Is it possible to add a feature that will listen to that change and reset those properties?

[2016-07-11 18:48] zeke opened #261 "Override Font Stack"
I am not a fan of the new github.com font stack. It's supposed to be objectively better, but to me it looks clunky and unrefined. Maybe my 👀  just need time to adjust?

Context: http://furbo.org/2015/07/09/i-left-my-system-fonts-in-san-francisco/

![screen shot 2016-07-11 at 11 44 51 am](https://cloud.githubusercontent.com/assets/2289/16742600/2d1bfa4e-475d-11e6-911f-d01c8bc750ca.png)

[2016-07-11 18:50] DrewML commented on #261
I saw an email popup for this issue, and went to go read it on my computer, and that's when I noticed the new fonts 😞

+1 on the "not a fan" train

[2016-07-11 20:30] sindresorhus commented on #261
Pull request very much wanted.

[2016-07-11 21:27] #216 closed

[2016-07-11 21:34] #261 closed

[2016-07-11 21:36] sindresorhus commented on #261
Fixed and published.

[2016-07-13 01:07] stevemao commented on #261
@zeke We got a GitHub staff disliking the new font :)

[2016-07-13 18:42] DrewML opened #264 "Filename in diff header not showing after recent GitHub update"
[code]

It looks like the `.diff-toolbar-filename + .right` selector that we're using to calculate one of the offsets doesn't resolve to an element in the DOM anymore.

Will try to take a look tomorrow evening when I have some free time if no one addresses it sooner.

[2016-07-14 00:24] zeke commented on #261
In retrospect, opening this issue felt like a betrayal to the GitHub design team. I have disabled the extension for now, so as not to diverge too far from the experience of the majority of github users.

That said, I think it would behoove the GitHub design team to watch repositories like this for inspiration and indirect product feedback.

[2016-07-14 17:17] sotojuan opened #265 "New font still used in "Private" badge"
<img width="232" alt="screen shot 2016-07-14 at 1 16 28 pm" src="https://cloud.githubusercontent.com/assets/8217766/16848757/4f740fea-49c5-11e6-8f27-e88658a952e3.png">

[2016-07-15 18:27] vendethiel opened #266 "Clicking the "issue" link of a repo with no code redirects to the "get started page" with double header"
With the extension installed, going to https://github.com/vendethiel/projects/issues (one such example) redirects me to the project's "get started" page, with double header.

[2016-07-15 18:43] DrewML commented on #266
What version of the extension are you running? Will say in `chrome://extensions`?

[2016-07-15 18:50] vendethiel commented on #266
V 1.5.0. Tried installed it on another machine (this one runs mac, the other windows) and I can reproduce the bug.

From a little bit of digging around, the request seems to come from `function showRecentlyPushedBranches() {`

[2016-07-15 18:54] vendethiel commented on #266
Okay, I was wrong on one point: it doesn't actually redirect me to the page.

What actually happens is that `showRecentlyPushedBranches` fetches "show_partial?partial=tree/recently_touched_branches_list", and since there's no branch (because it's an issue-only repo), GitHub goes insane and returns the whole view for the repo:

https://github.com/vendethiel/projects/show_partial?partial=tree/recent

[2016-07-18 00:58] whitneyit opened #267 "Feature request - Add compare tab"
I often find myself doing comparisons of commits/releases when trying to determine if a bug fix has shipped in a given release.

Currently GitHub doesn't offer a simple way to get to the compare screen.

Similar to how the `Releases` tab was added, I was thinking of adding a compare tab beside that. Clicking on that tab would default to redirecting the the `/compare` url, but if you clicked on it

[2016-07-18 01:00] whitneyit commented on #267
And on that note, potentially the releases page could be updated with an _unreleased_ section which would be the comparison between the latest tag and master. Thoughts?

[2016-07-18 13:19] LoicMahieu opened #268 "XSS with user name"
Just visit this issue: https://github.com/wpscanteam/wpscan/issues/242
![capture d ecran 2016-07-18 a 15 18 59](https://cloud.githubusercontent.com/assets/900947/16916012/fbd60d00-4cfa-11e6-8655-5534a5e7f7d2.png)

[2016-07-18 13:31] paulmolluzzo commented on #268
Um, this card isn't part of refined github. It's from a different extension https://github.com/Justineo/github-hovercard

Unless I'm missing something?

[2016-07-18 15:34] hkdobrev commented on #268
@paulmolluzzo The XSS is reproducible with Refined GitHub though.

[2016-07-19 10:51] LoicMahieu commented on #268
Yes I should specify that, sorry :) The card is well from another plugin but it show clearly where the problem is :D Thanks for fixing, awesome team !

[2016-07-19 11:08] bfred-it commented on #134
I made a single-use extension https://github.com/bfred-it/GitHub-grouped-news

It doesn't replace the feed, it just adds a box above

[2016-07-19 13:29] #268 closed

[2016-07-19 13:58] joshmanders commented on #134
Awesome @bfred-it, could you PR it into refined-github? I like it, but I'm trying to keep the number of extensions running to a minimum, and sindre said he'll accept this as a PR.

[2016-07-19 14:01] bfred-it commented on #134
Nah, I prefer more [focused extensions to monoliths,](https://github.com/sindresorhus/ama/issues/10#issuecomment-117766328) especially because refine-github is not nearly as configurable as I'd like. And extension count is not really an issue.

[2016-07-19 23:54] DrewML opened #270 "Audit extension for XSS vulns"
https://github.com/sindresorhus/refined-github/pull/269#issuecomment-233547355

We likely have more than just that 1. Note that the risk factor is lower than usual thanks to GitHub using a strict content security policy, but it's still worthwhile.

[2016-07-21 09:57] sindresorhus commented on #267
I like the idea.

@hkdobrev @paulmolluzzo @DrewML What do you think?

[2016-07-21 11:27] hkdobrev commented on #267
I don't see why we need a compare tab. I'd like to have compare links for each tag on the releases page and probably for commits and other places. But why a tab?

[2016-07-21 11:44] whitneyit commented on #267
I see the tab making sense given how the /compare route acts like a top
level entry point into lower level comparisons

On Thu, 21 Jul 2016, 21:27 Haralan Dobrev <notifications@github.com> wrote:

[2016-07-21 13:17] paulmolluzzo commented on #267
Is there a way that we can use something other than a tab when you're comparing a diff/commit/release? With the other idea I quote below, that tab is going to change behavior depending on the page you're on.

I like this idea for the tab - it's sort of like an "Unreleased" tab, more than a compare.

[2016-07-22 03:16] whitneyit commented on #267
In the above discussion the comparisons have been made towards `master` but that may not actually work. Not all repos have `master` as their [default branch](https://help.github.com/articles/setting-the-default-branch/). Take [`Laravel/Framework`](https://github.com/laravel/framework) for example. As of this moment it resolves to the [`5.2`](https://github.com/laravel/framework/tree/5.2) branch an

[2016-07-26 20:17] thejameskyle opened #273 "Preview GitHub activity in notifications without marking them as read"
Using the [GitHub Notifications API](https://developer.github.com/v3/activity/notifications/) it should be possible to create a little popover like the one below to show unseen activity using the `last_read_at` date.

![screen shot 2016-07-26 at 1 09 13 pm](https://cloud.githubusercontent.com/assets/952783/17153785/103e2104-5333-11e6-824a-73b5eb18abda.png)

One of the biggest problems I have with

[2016-07-26 20:22] DrewML commented on #273
Oooh, that's a pretty good idea. I like it! This would require adding a settings panel, though (so users can enter their GitHub API key for private repo access). Sindre has tried to avoid adding a settings panel.

@sindresorhus thoughts? We _could_ also add this for only public repos, but that might be a bit of a weird experience from a UX perspective when some items work on hover and others don't

[2016-07-26 20:32] thejameskyle commented on #273
Public repos would be enough for me to be happy, those are the repos that have an unmanageable amount of notifications

[2016-07-26 21:35] paulmolluzzo commented on #273
This is a really neat idea! If we go down the path of only showing this for public repos it might be worth indicating the ones that you can hover to preview. Maybe include the `eye` icon for the target to `:hover` on?

[2016-07-26 21:39] sindresorhus commented on #273
Love it! I have the same issue as @thejameskyle. We can do public repos first and see.

[2016-07-27 03:28] DrewML commented on #273
Started working on this tonight. I should have spotted this sooner, but the "Notifications API" requires an authentication token (which makes sense).

On a positive note, the link to the issue or PR in the DOM does include the comment ID that triggered the notification, so we can fetch that page >> grab the comment + all after >> display in the UI. This means we can support private repos, too, sin

[2016-07-27 11:11] sindresorhus commented on #273
Reply

[2016-07-27 14:35] DrewML commented on #273
Damn - hitting the URI at all dismisses the notification. I think the only way forward with this feature is providing users a way to add a GH API key.

[2016-07-28 00:59] DrewML commented on #273
What do you think @sindresorhus? If we add the ability to enter an API key, it might open up an avenue to some other cool features we wouldn't be able to pull off without the API.

[2016-07-30 17:49] sindresorhus opened #276 "Force "squash and merge" title to be the pull request title"
It does if there are multiple commits, but if there is only one commit, if will use the commit title instead. I often rename pull requests because submitters do a very bad job of naming their pull requests. When I then "squash and merge" it will instead choose the commit title, which is the original bad title, and I have to rename yet again. Would be nice if we could just copy in the pull request

[2016-07-30 19:06] sindresorhus commented on #273
Sure

[2016-07-31 04:12] jamestalmage commented on #273
Ooh. If that's on the table, let's add a marker on the notifications page that differentiates notifications where you are `@`-mentioned. I would love to be able to prioritize what I  read that way

[2016-08-01 14:09] DrewML commented on #273
@jamestalmage Want to open a separate issue for that one? I can do the API-key work for this PR first, get that committed, and then we'll be able to work on this issue + your idea in parallel.

[2016-08-02 20:19] hkdobrev opened #277 "[Marketing] How to list the extension in the GitHub Browser Extensions showcase?"
https://github.com/showcases/github-browser-extensions

Any ideas how to enlist the extension in the showcase? Probably contact GitHub?

@sindresorhus You have two more extensions in there.

[2016-08-02 20:22] hkdobrev commented on #277
@zeke You could probably give us some insight? I know you've used the extension at one point. Thanks!

[2016-08-02 21:36] zeke commented on #277
👋 I didn't know about that showcase. I will look into who's behind it and report back.

[2016-08-02 22:03] zeke commented on #277
cc @leereilly who works on the showcase.

[2016-08-06 20:34] DrewML commented on #273
Still have plans to finish out what I started on this. Just hitting some timing issues w/ moving + priorities on other projects.

[2016-08-08 21:18] DrewML opened #278 "Add "title" attr to emojis"
Sometimes I have absolutely no idea what an emoji is that someone has used. The markup GitHub uses when rendering emojis is:

[code]

It would be nice to be able to hover on the icon to actually see what it's name is. This would just involve copying the `alias` value to `title`.

Any objections?

[2016-08-08 21:22] sindresorhus commented on #278
I find the `g-emoji` thing annoying. They make emoji render different than the native. Example: https://github.com/sindresorhus/skin-tone (See the first emoji in the description):
<img width="110" alt="screen shot 2016-08-08 at 23 21 59" src="https://cloud.githubusercontent.com/assets/170270/17496756/f119f5f0-5dbe-11e6-8e40-f74948432b0d.png">

I actually wanted to remove it, but if you see a value

[2016-08-09 09:37] anujbiyani commented on #26
I'm now seeing this which is problematic:
![screen shot 2016-08-09 at 10 34 21](https://cloud.githubusercontent.com/assets/305254/17511894/0aedf748-5e1d-11e6-9328-a539cabcbf07.png)

[2016-08-09 12:04] sindresorhus commented on #26
// @bfred-it ⬆️

[2016-08-11 20:34] #191 closed

[2016-08-11 20:49] sindresorhus opened #279 "Edit icon in the top-right of the readme is no longer working"
The URL is now:

[code]

Notice the `undefined`. Probably a CSS selector that needs to be updated.

[2016-08-11 20:53] sindresorhus opened #280 "Remove diff signs when copy-pasting code from a diff"
See: https://github.com/sindresorhus/refined-github/pull/254

[2016-08-12 05:14] jacobbearden commented on #278
Might be platform based but for me, emojis do have a title attribute:

![image](https://cloud.githubusercontent.com/assets/5340692/17613303/e8ef92f2-6018-11e6-85a8-c8ac5b7f7f3f.png)

and the markup is:
[code]

On an Ubuntu based operating system, using Chrome

[2016-08-12 08:52] anselmh commented on #265
Can you confirm that still? It’s using the Helvetica font here and the extension’s CSS for me. Tested with refined-github 1.6.0.

[2016-08-12 09:04] #279 closed

[2016-08-12 12:21] sotojuan commented on #265
Seems to be fixed now for me, not sure why it was happening 😅

[2016-08-12 12:33] #265 closed

[2016-08-13 23:25] sindresorhus commented on #267
@hkdobrev @paulmolluzzo @DrewML You good with this? Any other concerns?

[2016-08-14 00:14] DrewML commented on #267
No concerns from me 👍

[2016-08-14 13:05] paulmolluzzo commented on #267
I'm good with this too. :+1:

[2016-08-20 12:32] vdemedes commented on #273
Hey guys, I've implemented a different approach to this problem, the way I always wanted it to be - check out PR #284 and let me know what you think over there!

Idea by @thejameskyle is great and certainly looks nice, but sometimes I want to give a thread another glance to understand the context of another person's reply. Because of that, a popover wouldn't work for me. Instead, I decided to add

[2016-08-22 11:17] anujbiyani commented on #26
It's fixed now, perhaps github changed something in their CSS.

[2016-08-24 15:17] lloydwatkin opened #285 "Options"
I frequently include images in comments (because we share final output in PRs for product team to review) and missing the file upload makes me turn the whole thing off. The ability to enable/disable features would be awesome.

Nice work!

[2016-08-24 15:45] hkdobrev commented on #285
@lloydwatkin You can just drag and drop images, that's still working. The extension just removes the buttons which are not really necessary when you already know Markdown and GitHub.

[2016-08-24 19:40] #285 closed

[2016-08-26 02:26] unluisco commented on #153
What happened with Trending? 😢

[2016-08-29 14:00] sindresorhus opened #288 "Link to the readme of the latest version in the main readme"
Often the readme you land on when you go to a repo is in `master` and might contain unreleased features. Would be useful to have a quick link to the readme of the latest version.

[2016-08-30 08:15] hkdobrev commented on #288
👍

Thinking out loud:
We'd either need to use the API for that or cache the latest release when the user visits the Releases page which is not that useful here. We can of course make an AJAX request to releases, but for every readme you visit that would be an overkill. But I guess we can assume semver and try to read the branch/tag selector in the top left corner of the repo page and get the lates

[2016-08-30 09:10] sindresorhus commented on #288
Yes, I was thinking just reading the git tags.

[2016-09-04 16:21] vdemedes opened #290 "Extract icons into one file"
See https://github.com/sindresorhus/refined-github/pull/284#r76823674

[2016-09-04 16:23] vadimdemedes opened #291 ""Mark all as read" button should clear extension's unread notifications"
"Mark all as read" button does not clear notifications, that were "remembered" by the extension's "Mark as unread" feature.

<img width="140" alt="screen shot 2016-09-04 at 7 22 57 pm" src="https://cloud.githubusercontent.com/assets/697676/18232283/191a200e-72d5-11e6-913b-f7aac2d31ca8.png">

See https://github.com/sindresorhus/refined-github/pull/284 for "mark as unread" feature.

[2016-09-04 16:26] thejameskyle commented on #273
@sindresorhus did you intend to close this via #284?

[2016-09-04 16:27] vadimdemedes opened #292 "Show unread indicator on the bell icon when there are unread notifications"
Currently, if there are only notifications marked as unread via the extension (no "native" github notifications), the notifications (bell) icon at the top right does not show a blue circle, but would be nice if it was.

<img width="131" alt="screen shot 2016-09-04 at 7 24 58 pm" src="https://cloud.githubusercontent.com/assets/697676/18232298/714edd14-72d5-11e6-9cf2-af293c326afa.png">

See https://

[2016-09-04 16:31] sindresorhus commented on #273
Nope. This is complementary to #284.

[2016-09-04 16:32] sindresorhus commented on #292
Can you add the context? Not clear that you're talking about the "mark unread" feature. Same with other issues about this.

[2016-09-04 17:09] karlhorky opened #293 "Consider enabling new font again?"
This extension has lots of awesome features, but it disables GitHub's new larger and more legible fonts. Also, like @zeke mentioned in https://github.com/sindresorhus/refined-github/issues/261#issuecomment-232524434 having the major design features the same as other users can be useful when helping others out.

Are you open to considering reenabling the new fonts? They are quite nice after you adj

[2016-09-04 17:09] karlhorky commented on #261
Opened #293 to reconsider this change.

[2016-09-05 00:56] zeke commented on #293
Agreed. It took me 24 hours to adjust.

[2016-09-05 13:00] hkdobrev opened #294 "Copy button does not copy empty lines"
When you have a file with empty lines inside, to be exact - two consecutive newline characters surrounded by other text, the Copy button copies the contents of the file, but replaces the two newline characters with only one.

The result is more condensed file than the original with no empty lines.

[2016-09-05 18:06] vdemedes commented on #292
Sure.

[2016-09-08 09:44] devoxel commented on #270
Yeah this seems like a good idea. I have some friends who can help.

Maybe switching to "use strict;" in the javascript would ease up the issues? Though I haven't read all the source and don't know what unit testing this actually passes through, but a quick lint can help uncover issues pretty quickly.

[2016-09-09 22:58] Turbo87 opened #296 "Desktop notifications"
I wonder if it was possible to use the [Notification API](https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API) to show desktop notifications for incoming notifications from GitHub. Is that something that would potentially get merged or would that be wasted energy?

[2016-09-10 01:53] devoxel commented on #296
I would love that personally.

I would work on a fork with you if you'd like, for sure.

[2016-09-10 08:55] Turbo87 commented on #296
I've looked into this a bit more now and it might not be possible to implement this in a reliable way after all. The reason for that is GitHub not having an official WebSocket API and polling the Notifications API isn't a great solution. Additionally it seems that there is currently way to access the API directly in this plugin due to the missing auth token required for authenticated API requests.

[2016-09-11 02:39] DrewML commented on #296
There is a dedicated extension for this functionality [here](https://github.com/sindresorhus/notifier-for-github-chrome).

[2016-09-11 06:50] Turbo87 commented on #296
Oh cool, last time I tried that plugin I think it didn't have that functionality yet...

[2016-09-11 20:20] octref commented on #193
- Adding a page with a list of checkboxes, one for each feature to Chrome's [Option View]( https://developer.chrome.com/extensions/optionsV2).
- Split each feature into its own css and js.
- Load each feature using the preference.

Is this really hard to do?

[2016-09-12 04:41] bfred-it commented on #193
@octref it's not as easy as it seems and that's not the point.

By the way I created the auto-UI/auto-save [options manager](https://github.com/bfred-it/GitHub-Grouped-News/blob/master/extension/lib/options-manager.js) I was talking about. [This is the data schema](https://github.com/bfred-it/GitHub-Grouped-News/blob/master/extension/options-init.js) and this is the [UI schema](https://github.com/

[2016-09-12 08:06] octref commented on #193
@bfred-it

OK, a few points:

- Forking and loading the extension to Chrome will
  - Lead to user fragmentation
  - Show popup for "Disable developer mode extensions"
- Suggesting people to fork and change the setting
  - People using GitHub don't necessarily understand JS/CSS well
  - I don't see a flag/option in code for disabling features. I need to spend time to understand the code and change

[2016-09-12 08:52] sindresorhus commented on #193
@octref Think of this extension more like iOS than Android. We favor a complete and opinionated experience. That might not work for everyone, and that's ok. I'm open to adding an option for fonts and whether to "hide stars on your own repos in the newsfeed", but not much more. This project is MIT licensed, so anyone are free to build something more modularized for their own liking, but it's not go

[2016-09-12 10:21] gimenete opened #297 "Broken link in README file"
Link "Adds user avatars to Reactions" in the highlights section is broken.

[2016-09-12 10:26] gimenete commented on #297
It looks like GitHub processes the Markdown differently if you go to the homepage of the repo or you if you go to the readme file itself:

https://github.com/sindresorhus/refined-github (link doesn't work in this page)

https://github.com/sindresorhus/refined-github/blob/master/readme.md (link works here)

[2016-09-12 10:42] sindresorhus commented on #297
GitHub bug: https://twitter.com/sindresorhus/status/775256735766355968

[2016-09-12 11:02] hkdobrev commented on #193
My opinion regarding options is more about things working together. If you have options it is harder to make all possible cases work well. Everybody would have a different combination of options which will hide some elements or add buttons. We have already adjusted some things so things work well together with other extensions.

Let's say the extension is removing a panel from a page. And we intro

[2016-09-12 15:30] DrewML commented on #296
I'm going to close this for now, since there is another (maintained) extension that (as I understand it) accomplishes this functionality. If there is a really good reason that can be made for pulling this into `refined-github`, we can re-open this issue to discuss more.

[2016-09-12 15:30] #296 closed

[2016-09-12 19:24] pdufour opened #298 "Delete fork link is broken"
The delete fork link is going to delete https://github.com/tenant/settings. It looks like it's got to do with this parsing here https://github.com/sindresorhus/refined-github/blob/master/extension/content.js#L131. Maybe the UI changed for Github?

[2016-09-13 21:16] revolunet commented on #152
a basic implem : https://github.com/sindresorhus/refined-github/pull/299

[2016-09-13 22:43] devoxel opened #300 "Forces twitter into mobile mode"
# Summary

I'm noticing a new issue on my Ubuntu 16.04 LTS version of chrome. It seems to be a regression bug, maybe lying in Chrome but more probably lying in the Javascript behind Twitter.

# Versions

![chrome 53.0.2785.113, os Linux: 4.4.0-36-generic](https://cloud.githubusercontent.com/assets/1924007/18493962/546530b2-7a0b-11e6-8c5a-0484278f082f.png)

Ubuntu 16.04 LTS updated fully.

Chrome P

[2016-09-13 22:48] hkdobrev commented on #300
Is it possible that the issue is with https://github.com/sindresorhus/refined-twitter not with this extension about GitHub?

[2016-09-13 23:24] devoxel commented on #300
nope, i did the standard turn off all extensions and it was this one that was causing the issue. I'll double check though. I dont use very many extensions in the first place

[2016-09-14 11:14] karlhorky commented on #293
Ping contributors @sindresorhus @paulmolluzzo @DrewML, any feedback for this one?

I guess @hkdobrev is against this change... can you post your reasoning shortly? Is it because the text is larger and you can fit less on your screen?

[2016-09-14 11:20] hkdobrev commented on #293
I just can't get used to the font. I've tried to give it a try twice and I don't read it as easily as the previous one. It looks to me like something with the anti-aliasing is off and I feel like this is a font which one would use for a terminal / source code. Even if it gets reverted I'd probably add a custom css override for me for the old fonts.

[2016-09-14 18:52] DrewML opened #301 "New GitHub PR review feature - Hovering on reactions is semi-broken"
Adding a reaction for the first time works:
![image](https://cloud.githubusercontent.com/assets/5233399/18525533/7cbe4e64-7a82-11e6-99ad-2441573fe1e4.png)

Hovering over an existing reaction
![image](https://cloud.githubusercontent.com/assets/5233399/18525523/7105d182-7a82-11e6-831f-cd0d2e8de9b1.png)

[2016-09-14 19:56] hkdobrev commented on #301
@DrewML I don't experience this. Possible A/B test?

[2016-09-14 20:02] DrewML commented on #301
@hkdobrev It's on a private repo. If you open up a sample PR, I can leave review feedback and we can use that as a test-case for this issue?

[2016-09-14 20:07] devoxel commented on #300
Okay, seems after a reboot or two it's still fucked.

[2016-09-14 20:07] #300 closed

[2016-09-14 20:08] devoxel commented on #300
:cry:

[2016-09-14 21:00] DrewML opened #302 "New GitHub "Review" feature in PR toolbar causing exception to be thrown from diffheader feature"

[2016-09-14 21:28] hkdobrev commented on #301
@DrewML I'm sorry. At the time of my comment I wasn't familiar with the new GitHub features. (They sound awesome BTW!). So I've read the title in a different way. I see what you mean now.

[2016-09-15 20:14] SpaceK33z opened #303 "Show status of PR in overview"
With the new PR review features GitHub introduced today, it's possible to "review" a PR. It is possible to approve the PR, or to request changes.

My problem is, that after I approve or request changes, I can't see in the overview what I've done. I need to click on every PR and check what the status is.

[2016-09-16 03:15] sindresorhus commented on #303
What kind of status are you interested in? Like `Approved`, `Pending requested changes`, etc?

[2016-09-16 06:46] SpaceK33z commented on #303
Yeah, those two statuses.

[2016-09-16 15:07] SpaceK33z commented on #297
Looks like it has been fixed.

[2016-09-16 15:07] #297 closed

[2016-09-16 16:55] hkdobrev commented on #294
OK, it seems it doesn't happen with every file. I'll reopen when I have a concrete reproducible example.

[2016-09-16 16:55] #294 closed

[2016-09-17 21:36] sindresorhus commented on #303
Seems like many people agree: https://twitter.com/dan_abramov/status/777224519543128064

Anyone wanna do a pull request?

[2016-09-18 01:51] DrewML commented on #303
I like the idea a lot, but this is could be brutal for people on slow connections if we don't offer a setting to disable. We'll have to make (up to) 25 requests on page load anytime you visit `/pulls/`. The GitHub API doesn't have the ability to batch requests (and the new GraphQL API doesn't have the functionality we'd need quite yet), so we'd just be fetching the DOM for each PR page

[2016-09-18 08:14] SpaceK33z commented on #303
@DrewML, is it correct that the GitHub API doesn't even have the ability to see the status at all? I've browsed [through it](https://api.github.com/repos/sindresorhus/refined-github/pulls/304), but the ["review comments"](https://api.github.com/repos/sindresorhus/refined-github/pulls/304/comments) API also doesn't seem to have it.

[2016-09-18 23:56] DrewML commented on #303
@SpaceK33z Yeah, doesn't look like it :( We'd have to do fetch + DOM parsing/scraping like we do with [real names](https://github.com/sindresorhus/refined-github/blob/master/extension/show-names.js) functionality.

[2016-09-19 08:20] hkdobrev commented on #303
While these reviews could prove to be immensely useful I think they are in very early stage at the moment and GitHub would significantly improve them in the next 6 months (as stated at GitHub Universe). They could fix some nagging problems in the review process, but could also improve the API and the rest of the UI around them. I'm not sure this is worth doing before we see what they'll do with th

[2016-09-20 07:19] shaharmor opened #307 "Show currently viewed file in PR header"
It would be awesome to have the currently viewed file in the header of the PR: (In the white space in the middle)

![screen shot 2016-09-20 at 10 19 59 am](https://cloud.githubusercontent.com/assets/10861920/18660904/b1f65386-7f1b-11e6-9a1b-3ac0136ee8f5.png)

[2016-09-20 20:07] zeke commented on #293
Judging by emoji reactions, it's what most people want.

[2016-09-30 10:47] hkdobrev opened #309 "Remove Projects (0) from repo navigation"
Since GitHub has introduced projects there is this Projects tab on every repo. I am yet to see a repository using them. So I'd suggest removing the tab if there are 0 projects. It would reduce clutter and you will only see it when a repository is actually using projects.

That said I understand why GitHub did it like that - showing it for every repository even though nobody is using it at first -

[2016-09-30 14:20] sindresorhus commented on #309
👍

[2016-09-30 14:53] paulmolluzzo commented on #309
If we take out the navigation then how else will people discover Projects? We'd be kneecapping the discovery of a new feature that people worked hard on. 😢

[2016-09-30 14:55] sindresorhus commented on #309
@paulmolluzzo We don't have to do it right now, but eventually I'd like to see it gone when unused.

[2016-09-30 15:05] paulmolluzzo commented on #309
OK, I'm just offering a counterpoint. Again, I don't want to take away the opportunity for all the GH people that worked on this feature to have their work gain traction.

[2016-09-30 15:07] sindresorhus commented on #309
@paulmolluzzo It's a good point. I just assumed everyone knew about it from the blog post, but I'm sure that's only a small portion of users.

[2016-09-30 20:45] hkdobrev commented on #309
@paulmolluzzo I get your argument, but I don't think we're actually preventing people to know about it. Here are the two use cases I think about:

1. **People using the extension already**: They are certainly heavy users of GitHub, they might have even read the blog post or watched the GitHub Universe keynote. They certainly look at GitHub repositories at least a few days a week. I assume they alr

[2016-10-03 06:33] sindresorhus commented on #309
If we decide to go for this, we could simply add a button in the Settings page that points to `https://github.com/sindresorhus/refined-github/projects/new`. That's really where GitHub should have put the button, instead of littering the main nav with something most repos won't use.

[2016-10-05 15:44] TehShrike opened #310 "The review "red X" icon is overly scary"
https://twitter.com/yaypie/status/776888659492483072

How would people feel about replacing it with something more neutral - perhaps a gray circle, like slicknet suggested?

[2016-10-05 16:00] hkdobrev commented on #310
There's a lot of things I don't like with the new review features, but on this I'm more inclined to say it's useful. A neat thing for me though would be to gray it out once the same person has approved the PR.

[2016-10-05 16:07] TehShrike commented on #310
That happens already - when the user approves the review, the icon at the bottom of the pull request changes from a scary red X to a green circle with a checkmark.

I am only suggesting that the scary "unapproved" red X be made less angry and aggressive-looking.

[2016-10-05 16:12] hkdobrev commented on #310
@TehShrike But it doesn't mark the original review as _outdated_ or taken care of. When multiple people are reviewing it's nice to see that a review of one person has later being approved. The notation in the bottom just shows which people approved and which don't and whether all people approved. But when looking at specific reviews in the timeline you don't know if that's taken care of.

[2016-10-05 16:21] TehShrike commented on #310
Sure, that's fair.  I'd be in favor of that change too.

I only meant to bring up the red X to consider changing it to something less aggressive when it was displayed, but I don't know if it's worth opening a second issue to discuss these two things separately.

[2016-10-09 09:32] jchannon opened #311 "Make milestones a button appear next to Code/Issues/Pull Requests"
I feel Milestones should be a top level link not hidden under Pull Requests.

Could this plugin make that happen?

[2016-10-09 10:37] jbrooksuk opened #312 "Add a keyboard shortcut for "Add line comment""
Since introducing reviews the CMD/Ctrl+Enter shortcut now adds a Review comment, rather than a single line. This would be fine, but we've been used to this shortcut adding a single line comment for years.

[2016-10-09 16:36] sindresorhus commented on #311
Doesn't really make sense to me. It's related to Issues/PRs, so available under those tabs. I don't think it's important enough to get to that page that it deserves its own repo-wide tab. Let's see what others think.

[2016-10-09 19:53] gep13 opened #313 "Play nice with Expandinizr"
In addition to this extension, I use the excellent plugin from @thecodejunkie to maxmize the amount of space on the page:

https://github.com/thecodejunkie/github.expandinizr

Having just installed your extension, I immediately noticed this:

![image](https://cloud.githubusercontent.com/assets/1271146/19223216/6548aa92-8e62-11e6-9e0f-269b3e561cbf.png)

Is there anyway that these two extensions can

[2016-10-10 03:47] sindresorhus commented on #313
// @thecodejunkie

[2016-10-10 07:00] gep13 commented on #313
@sindresorhus thanks to @khellang for pointing this out:

https://github.com/thecodejunkie/github.expandinizr/pull/60

I believe this problem has already been fixed 😄 Will re-open this if I still see issues after the next release of expandinizr.

[2016-10-10 07:00] #313 closed

[2016-10-18 00:30] mwakerman opened #315 "Add support for GitHub Enterprise domains"
I think it's great that you've limited the extension to only accessing data on the github.com domain but this prevents me from using it with GitHub Enterprise which runs on an internal domain.

[2016-10-18 15:28] gabrieleds commented on #298
+1

[2016-10-18 16:00] #280 closed

[2016-10-18 16:09] sindresorhus commented on #239
Why not just make the blue shading less subtle? The avatar space is precious and I would rather see it being used for other avatars than my own.

[2016-10-18 17:06] sindresorhus opened #317 "Improve copy-paste from diff"
Context: https://github.com/sindresorhus/refined-github/pull/282#issuecomment-239410508

Still one issue with consecutive lines being prefixed with one space. Seems to be an Chrome issue. Ideas welcome on how to work around it.

[2016-10-18 18:39] jacobbearden commented on #239
@sindresorhus `#e0eef3` works pretty well. Maybe not enough of a change though?

![image](https://cloud.githubusercontent.com/assets/5340692/19491281/ad3ce2f4-952f-11e6-9dac-8af1649034fc.png)

[2016-10-18 21:55] nobso opened #318 "Why cant i use it with github enterprise ?"
First of all, Thanks! this is really useful!

I see that this package allows only ``` https://github.com/*,  https://gist.github.com/* ``` origins, but i've a github enterprise and i dont want to do any host mapping to get it working.  I thought i would introduce an option that can be taken from the user, but the below comment stops me doing that 😃

Anyway, i could manually add an origin in the ma

[2016-10-18 22:01] hkdobrev commented on #318
Thanks for opening the issue! However I'm closing this as duplicate of #315. Please subscribe to it and participate in any discussion there. Cheers!

[2016-10-18 22:01] #318 closed

[2016-10-18 22:04] hkdobrev commented on #315
I don't use GHE, but I'm open to supporting it in the extension. However I don't know if it's easily possible without getting access to all domains. Any ideas on how this could be implemented are welcome!

@nobso has described a work-around in #318:

[2016-10-18 22:08] nobso commented on #318
Thanks for the quick response!

[2016-10-18 23:21] nobso commented on #315
@hkdobrev Why cant we allow the user to input an additional domain (just one domain at least)?

[2016-10-19 09:20] mfpinhal commented on #226
👍  for bringing this feature back. Thanks @hneiva for the "hack".

@sindresorhus:
My use-case is that I just want to skip some files and dig into a few down the list.

[2016-10-19 15:38] hneiva commented on #226
@sindresorhus use case:
- PR contains front and back end changes (ie.: Java and JS+HTML+CSS)
- More than one developer will code review said PR, likely to a specific platform
- Now developer has to scroll through unwanted files

[2016-10-20 18:14] sindresorhus commented on #226
See: https://github.com/sindresorhus/refined-github/pull/308 Happy to add it back if someone commits to maintaining it.

[2016-10-21 10:22] mfpinhal commented on #226
I checked #308. I would like to commit to maintaining it, in what concerns specifically to this feature, for now at least. I will try to commit a PR soon about this when I have an opportunity.

[2016-10-21 18:07] taeguk opened #319 "Add a button for enabling/disabling refinement."
If I want to disable a refinement, I must remove extension.
I suggest that adding a button for enabling/disabling refinement.

[2016-10-22 05:58] taeguk commented on #319
Oh, you are right. I can enable/disable in the extensions page.
But, I just want a bit comfortable method without opening extensions page.

[2016-10-22 15:26] siddharthkp opened #320 "Feature request: Comments in user's profile"
Feature request: Comments in user's profile

Something like this?

<img width="638" alt="comments" src="https://cloud.githubusercontent.com/assets/1863771/19620383/f5b86c2a-9899-11e6-9cb2-a8dffe039eb0.png">

[2016-10-22 15:36] jitendravyas commented on #320
+1

[2016-10-22 16:04] sindresorhus commented on #320
I'm surprised too that GitHub doesn't show comment activity.

@siddharthkp Can you look into how this could be practically solved?

[2016-10-22 16:47] siddharthkp commented on #320
Possible ways of doing this at a user level -
1. Events API `/users/siddharthkp/events` and filtering for type `IssueCommentEvent`
Downside: returns more data than needed which has to be filtered.
Upside: can be clubbed with another feature than depends on events.
2. Search API `/search/issues?q=commenter:siddharthkp`
Downside: Returns issues, not comments - it would be difficult to show the corre

[2016-10-22 23:25] sindresorhus commented on #277
Any updates? :)

[2016-10-22 23:36] sindresorhus commented on #298
Anyone wanna do a pull request to fix it?

[2016-10-23 03:48] zeke commented on #277
Just pinged Lee in Slack...

[2016-10-23 06:42] leereilly commented on #277
Added :metal:

[2016-10-23 06:44] DrewML commented on #277
Thanks @leereilly and @zeke!

[2016-10-23 06:44] #277 closed

[2016-10-23 12:47] sindresorhus commented on #319
I'm gonna pass on this. I don't see the use-case being important enough to warrant such button.

[2016-10-23 12:47] #319 closed

[2016-10-24 18:32] hkdobrev opened #322 "Fix button for diffs without whitespace"
Since the new code reviews functionality on GitHub there has been some interface changes. GitHub changed the diff options from a drop down to a button group so the feature initially implemented in #196 stopped working.

We should change the code putting the button to make checks and modifications against the updated DOM structure.

---

The key to fixing this is changing how we check for the curre

[2016-10-24 18:54] hkdobrev commented on #309
FWIW this is the first repo I've seen to use projects and I admit their use case is quite nice: https://github.com/algolia/instantsearch.js/projects

I've used Trello boards almost since the launch of Trello and I'm a big fan of such layouts, but what I don't understand is why GitHub launched this in addition to milestones instead of upgrading milestones to that.

\</rant>

[2016-10-24 19:06] hkdobrev commented on #310
My comments here are less valid/needed now as GitHub now collapses review comments when the line which was commented on has been updated just like they've been doing before the new code review features. They've also introduced the ability to [dismiss reviews if needed](https://github.com/blog/2265-dismissing-reviews-on-pull-requests). So my problems with the code reviews are very much addressed.

[2016-10-24 19:10] hkdobrev commented on #312
I see your point, but I'm using the new reviews extensively and the new default is more convenient for me. I use <kbd>Cmd</kbd> + <kbd>Enter</kbd> almost always to start a review and then on subsequent comments I continue using <kbd>Cmd</kbd> + <kbd>Enter</kbd> to add more comments to that review (the default green submit button then changes to "Add a comment to review").

When I do need to add a

[2016-10-24 19:17] hkdobrev commented on #266
@vendethiel I don't think this is still reproducible. Could you confirm if you could still reproduce this and close the issue if you can't? Thanks!

[2016-10-24 19:22] hkdobrev commented on #190
@thomassnielsen I'm personally using this:

[code]

[2016-10-24 19:27] hkdobrev commented on #198
FWIW I think the current default order by GitHub is the following:

0\. Your own personal account.
1. Oldest created organisation you are a member of
2. Second oldest
.
.
.
3. The youngest organisation you are a member of.

So it's based on the date creation of the organisation, not the date you've joined it.

[2016-10-24 19:28] hkdobrev commented on #276
@sindresorhus Have you contacted GitHub about that? It seems like that should be the default.

[2016-10-24 19:51] hkdobrev commented on #71
Firefox 48 (and 49) is now released. So there's no need for [changing the manifest now](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/applications) - https://github.com/sindresorhus/refined-github/issues/243#issuecomment-224372899

Anyone who wants to try and make this extension work on Firefox is welcome!

@dvcrn @bogas04 Do you want to try that out?

[2016-10-24 19:58] vendethiel commented on #266
Not sure, I stopped using the extension because of this. Feel free to close it.

[2016-10-24 20:03] hkdobrev commented on #89
OK, GitHub has now added several improvements to the user profile since this issue was opened:

- [List anonymous private contributions on your contribution graph](https://github.com/blog/2173-more-contributions-on-your-profile)
- [Profile bios](https://github.com/settings/profile?focus_bio=1)
- [Pin and reorder repositories on your profile](https://github.com/blog/2191-pin-repositories-to-your-gi

[2016-10-24 20:44] hkdobrev commented on #266
@vendethiel OK, closing then. Please consider re-installing the extension again if you like it as this should not be an issue now! And any other feedback is always welcome!

[2016-10-24 20:44] #266 closed

[2016-10-24 20:46] hkdobrev commented on #105
Why not just check for the deleted message in the timeline?

![screen shot 2016-10-24 at 23 46 05](https://cloud.githubusercontent.com/assets/506129/19663316/13b07122-9a44-11e6-82f3-444fd5620743.png)

[2016-10-24 20:51] hkdobrev commented on #301
@DrewML I think GitHub has patched that now. Could you confirm it's fixed for you as well?

[2016-10-25 06:52] Turbo87 opened #324 "Adjust font in code editor"
The code editor on GitHub seems to introduce its own styles and overwrites `font` for `<pre>` tags. This makes our `font-family` styling disappear. From short testing in the dev tools it seems that we only need to include the following style in our CSS to make our fonts work in the editor as well:

[code]

Note that I have only tested this in the dev tools so far and it might not work if our style

[2016-10-25 09:23] hkdobrev commented on #324
@Turbo87 Could you create a pull request with this proposal so we could review and merge? Thanks!

[2016-10-25 13:03] #298 closed

[2016-10-25 13:57] bogas04 commented on #71
Sure, i'll [try](https://github.com/bogas04/refined-github) it out.

[2016-10-25 14:15] bogas04 commented on #71
I tried [installing](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Temporary_Installation_in_Firefox) it as WebExtension and it just worked. Also, from the [compatibility list](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Chrome_incompatibilities), it seems there's no conflict. Further, debugging it gave no console error apart from "empty string passed to document.getEleme

[2016-10-25 17:22] hkdobrev commented on #264
Apparently GitHub has changed something again and the feature doesn't work anymore.

[2016-10-25 17:24] hkdobrev commented on #307
@shaharmor This was already implemented in #99 then got broken in #264 and fixed again in #274. Apparently it's broken again so I've reopened #264 and will close this "feature request" as a duplicate as it had already been working, but got broken so it's a bug.

[2016-10-25 17:24] #307 closed

[2016-10-25 17:47] hkdobrev commented on #71
@bogas04 That's great news! Thanks! I didn't expect this to be so easy.

Could you check if the console error is indeed from the extension? This seems a bit worrisome.

Regarding a checklist probably we can go through what's listed in the readme and try it out one by one.

Here's a table with what I found out:

Feature                                                                         | Chrom

[2016-10-25 17:52] hkdobrev commented on #71
@bogas04 @sindresorhus @paulmolluzzo @DrewML I've updated the description of the issue to track what's working on Firefox and what's not. Do you want to create separate issues for each one? Any ideas on why these are not working?

[2016-10-26 07:22] jacobbearden commented on #232
What is the consensus on this?

Swap the "Clone or download" dropdown for both a Download and Copy SSH button?

[2016-10-26 08:24] sindresorhus commented on #232
I vote to just close this. As already commented, you can just copy-paste the browser URL.

[2016-10-26 09:21] sindresorhus commented on #105
@hkdobrev I think a HEAD request would be much faster than parsing the timeline.

[2016-10-26 10:05] sindresorhus commented on #89
I still feel the profile page could be a lot more useful than it is, but I don't have any specific requests that are easily solvable by us, so I guess we can close it.

[2016-10-26 10:05] #89 closed

[2016-10-26 10:06] sindresorhus commented on #276
@hkdobrev No. I'm tired of wasting time sending them feature requests (I've sent 100+ through the years) and getting back a generic fake-nice response and never seeing anything done. That's exactly why I made this extension. Feel free submit the request yourself though.

[2016-10-26 12:48] sindresorhus commented on #312
👎 I think reviews as default is good. Very often you start with one comment and then you suddenly find more things to comment on and realize you should have done a review. Better to just do reviews all the time.

[2016-10-26 12:49] jbrooksuk commented on #312
Okay, well how about adding a new shortcut to create single-line comments?

[2016-10-28 03:24] jacobbearden opened #327 "Really small padding issue"
![image](https://cloud.githubusercontent.com/assets/5340692/19793797/a5a85e20-9c8b-11e6-94ab-59e0f7d6fbf6.png)

Notice the bottom vs the top.

Seen [here](https://github.com/sindresorhus/refined-github/pull/284#r76823674).

Definitely good for a beginner.

[2016-10-28 04:15] jacobbearden opened #328 "User avatars not added on pull requests"
From what I can tell, this is caused by `addDeleteForkLink()` failing when a pull request does not belong to the user and has not been merged.

This is because the element checked for on [line 131](https://github.com/sindresorhus/refined-github/blob/master/extension/content.js#L131) is only present if those conditions are met, so the function fails and in turn causes the avatars to not be added.

[2016-10-28 05:47] jacobbearden commented on #290
How should this be handled?

Should it just be a global variable like `page-detect`? ie.

[code]

[2016-10-28 07:36] mwakerman commented on #315
Yep, I think building the plugin locally and setting the domain is a suitable workaround for me.

[2016-10-28 07:53] sindresorhus commented on #290
@jacobbearden 👍

[2016-10-28 22:01] hkdobrev commented on #315
@nobso

The list of domains which the extension could access is a static list in the manifest and the user is prompted to approve this list upon installation. To the best of my knowledge, we don't have the ability to add domains to that list dynamically based on something the user enters in an options screen.

We can ask for permission to modify sites on every domain, but this is not a good practi

[2016-10-28 22:23] hkdobrev commented on #267
I'd like to work on some of that functionality.

However, some comments on the above

GitHub already provides that. I'm not sure if it was there when the above comment was written, but it's been there for a few months. Next to the date of the tag there is a link saying "28 commits to master since this tag" with a [link to the relevant compare page](https://github.com/sindresorhus/refined-github/re

[2016-11-02 18:14] bogas04 commented on #71
@hkdobrev I'm sorry I won't be able to contribute this week, busy with work. I'll check over weekend probably !

[2016-11-03 02:52] sindresorhus commented on #71
@hkdobrev Some of the ones that are not working on only Firefox uses `chrome.storage`. Not sure whether that's implemented fully in Firefox. Did you test with Firefox nightly? If something works there, we can just wait.

I think it's easier to just keep it here for now until we've had some time to look into the issues and determined how hard it would be to fix.

[2016-11-03 06:23] #290 closed

[2016-11-03 06:28] #264 closed

[2016-11-03 06:30] #324 closed

[2016-11-03 06:33] sindresorhus commented on #193
@bfred-it Did you ever extract your options stuff into a reusable module?

[2016-11-03 06:56] bfred-it commented on #193
I haven't but I can next week if you want

[2016-11-03 09:57] hkdobrev commented on #71
@sindresorhus From what I could tell `chrome.storage` is working without problems with the extension running on stable Firefox.

[2016-11-05 11:01] sindresorhus commented on #312
Sure, that would be useful.

[2016-11-05 11:02] sindresorhus commented on #311
// @hkdobrev @paulmolluzzo @jacobbearden

[2016-11-05 11:11] jacobbearden commented on #311
I don't think they're significant enough to warrant their own tab. Plus the tab list is already a little crowded.

[2016-11-05 15:11] hkdobrev commented on #312
@jbrooksuk Could you suggest a concrete keyboard shortcut? Thanks!

[2016-11-05 16:37] jbrooksuk commented on #312
Maybe CMD+Shift+Enter?

[2016-11-05 23:24] lipis commented on #293
Yes please.. the new font (right side) is much better... :)

<img width="1268" alt="screen shot 2016-11-06 at 00 23 10" src="https://cloud.githubusercontent.com/assets/125676/20034266/590f32ae-a3b7-11e6-8c81-79d498f3554a.png">

[2016-11-06 06:55] #293 closed

[2016-11-06 06:57] sindresorhus commented on #293
Ok, done. GitHub has tweaked the font usage a lot since its inception and I think it's good enough now to adopt. And it's honestly a bit more readable. I'm leaving the old tweaks commented out for people wanting to preserve the old font. In the future, we might consider making the `custom.css` file editable in the options as it contains some highly opinionated overrides.

[2016-11-06 07:11] hkdobrev commented on #293
@sindresorhus I was about to do a PR with the same as it seems I was the only one against it. I tested the new font this week as well and even used GitHub without the extension for a few days. I still have troubles with the new font on long texts, but I'll see if I'll get used to it or modify it for myself. Cheers!

[2016-11-06 09:07] hkdobrev opened #331 "Full names are not shown"
This -> [Shows user's full name in comments](https://cloud.githubusercontent.com/assets/170270/16172068/0a67b98c-3580-11e6-92f0-6fc930ee17d1.png) doesn't work anymore for me.

I think I last saw it a week ago.

Probably something in the DOM structure changed?

P.S. It seems it is working on some pages and not others, see below.

[2016-11-06 09:08] hkdobrev commented on #331
OK, to clarify - it is obviously working somewhere.

I see it on the current issue, but not on [this PR](https://github.com/sindresorhus/refined-github/pull/330) for example.

[2016-11-06 09:20] jacobbearden commented on #331
It fails on [line 131](https://github.com/sindresorhus/refined-github/blob/master/extension/content.js#L131).

I believe it's because that line is checking for an element only present on PRs from a fork, but that pull request is just from a different branch.

[2016-11-06 10:43] vdemedes opened #332 "Crash on pull request pages"
There's a "Mark as unread" button in the issues, but I guess some markup changed and button is no longer there in pull requests.

[2016-11-06 11:37] vdemedes commented on #332
Update:

Extension crashes on pull request pages with the following error:

<img width="417" alt="screen shot 2016-11-06 at 1 36 55 pm" src="https://cloud.githubusercontent.com/assets/697676/20037331/1e4fb34a-a426-11e6-8ba8-10a4fab4e7d8.png">

Cause: https://github.com/sindresorhus/refined-github/blob/master/extension/content.js#L131.

[2016-11-07 08:08] theckman commented on #315
@hkdobrev I think I found an extension that does something similar (after reading this issue).

I'm trying to find a way to be able to minimize my diffs on GitHub enterprise, and came across this:

* https://chrome.google.com/webstore/detail/pretty-pull-requests-gith/ljnjpkadhhcdniohpfilddnhahoigdec

It allowed me to provide a URL in its options and then Chrome asked if I'd like to give that exten

[2016-11-07 08:41] hkdobrev commented on #315
From Chrome extension docs you've linked:

I've reopened the issue. I wanted it to stay open exactly for this kind of suggestions. Thank you @theckman for finding and sharing this!

I'm labeling it as _help wanted_.

@sindresorhus Let us know if you think providing options for this is not worth it.

[2016-11-07 09:32] theckman commented on #315
@hkdobrev Ugh. My eyes went _right_ over that section. I'm sorry.

[2016-11-10 16:57] #332 closed

[2016-11-10 23:39] jacobbearden commented on #328
Fixed by #333

[2016-11-10 23:39] #328 closed

[2016-11-14 23:24] hkdobrev commented on #331
I think the issue is now fully resolved. Probably from #333. Please re-open if you spot it somewhere.

[2016-11-14 23:24] #331 closed

[2016-11-21 04:48] mmlanders23 commented on #327
Hey @jacobbearden, I would be happy to help out with this but the padding on the linked paged seems to have resolved. Is that true or is this still an open issue?

[2016-11-21 07:20] jacobbearden commented on #327
@mmlanders23

It appears the top padding was reduced, so this is no longer an issue, thanks for noticing! :smile:

[2016-11-21 07:20] #327 closed

[2016-11-22 10:03] SpaceK33z commented on #303
Looks like GitHub implemented exactly what I wanted:

![pull_requests_ _webpack_webpack_js_org](https://cloud.githubusercontent.com/assets/533616/20519416/33ab75e2-b0a3-11e6-899c-862da4ce502b.png)

If you hover over them you see more details. Super awesome! Closing this.

[2016-11-22 10:03] #303 closed

[2016-11-24 18:26] deadcoder0904 opened #336 "Copy Button for Gists"
Usually I always select the text to copy a particular gist. It'd be nice to have a copy button :smile:

[2016-11-24 18:32] sindresorhus commented on #336
👍 PR welcome :)

We already have an implementation for GitHub.com that could easily be adapted to Gist: https://github.com/sindresorhus/refined-github/blob/007857235f51438ec92060f5f69f2fd2194a6e50/extension/copy-file.js

[2016-11-24 18:40] deadcoder0904 commented on #336
Yup I'll definitely try :+1:

[2016-11-24 20:09] deadcoder0904 opened #337 "Download Button for a single file"
We can directly download single file with one click instead of Copying & Saving the filename every single time :innocent:

[2016-11-24 20:15] sindresorhus commented on #337
Duplicate of https://github.com/sindresorhus/refined-github/issues/158.

[2016-11-24 20:15] #337 closed

[2016-11-27 16:39] deadcoder0904 commented on #336
Closing this. Check #338

[2016-11-27 16:39] #336 closed

[2016-12-03 13:51] ishitatsuyuki opened #339 "The create project button cannot be found"
This was belonging to the dashboard, but it's gone with the extension:
![image](https://cloud.githubusercontent.com/assets/12389383/20859748/fab3385e-b9aa-11e6-8dca-e3b28c97eb8a.png)

[2016-12-03 17:04] sindresorhus commented on #339
That's intentional. We do a lot to cleanup the interface. There's already `+` button to create a new repo at the top-right.

[2016-12-03 17:04] #339 closed

[2016-12-12 23:40] sindresorhus opened #341 "Fix merge conflict with both changes"
[We can now resolve merge conflicts in the GitHub UI.](https://github.com/blog/2293-resolve-simple-merge-conflicts-on-github) Often with merge conflicts, I want to include both the conflicts as it's usually just two list items being placed at the end. Would be nice to have a button that just removed the merge conflict markers.

<img width="797" alt="screen shot 2016-12-13 at 00 33 35" src="https:/

[2016-12-13 07:45] hkdobrev commented on #341
👍  I would like to have options for choose left, choose right, choose both (left first), choose both (right first) similar to other merge tools. What do you think?

[2016-12-13 09:17] jacobbearden commented on #341
Instead of multiple buttons a drop-down similar to the Watch/Unwatch one could be added.

[2016-12-13 12:17] sindresorhus commented on #341
👍 to both ideas.

[2016-12-13 22:58] gnu-user opened #343 "Left and right navigation to quickly go through issues and commits"
I'm wondering if something like this has already been added, if not myself or someone else who has the time should try and add this functionality. If you've ever used a system such as Taiga, there's nice left and right navigation buttons to quickly go through issues, especially if you have a lot of them.

Currently with Github, every time you read an issue and comment / close it, you then have to

[2016-12-13 23:32] sindresorhus commented on #343
Would definitely be useful, but there were some issues with implementing it previously: https://github.com/sindresorhus/refined-github/pull/299

Related issue → https://github.com/sindresorhus/refined-github/issues/152, but only for keyboard shortcuts.

[2016-12-14 00:13] hkdobrev commented on #343
In terms of UI and specific shortcuts, commits in pull requests now have this with Next/Prev buttons and <kbd>n</kbd> / <kbd>p</kbd> shortcuts.

[2016-12-14 17:25] gnu-user commented on #343
I've read both, maybe I should just pester Github again and see if they'll ever get around to adding it. It's such a simple feature that it boggles my mind that none of their employees have gotten around to implementing out of frustration dealing with many issues.

One solution I did think of, would be perhaps scraping the list of issues from the main page and then keeping track of that state when

[2016-12-14 20:47] hkdobrev commented on #343
@gnu-user I could see some reasoning why GitHub are not implementing it (besides that it's mostly useful for maintainers of popular packages or private projects). You can have filtering, and search, and sorting in issues listing and then you go to an issue and it's not always intuitive which issue is next and which is previous. Also, issues and PRs share the incremental IDs. Some users would expec

[2016-12-16 15:59] thefotios commented on #315
This extension provides a simple way of managing and enabling GHE:
https://github.com/buunguyen/octotree#enterprise-urls

[2016-12-16 18:25] hkdobrev commented on #315
@mwakerman @theckman @thefotios Would one of you be interested in creating a pull request for this?

[2016-12-16 20:27] FezVrasta opened #344 "Way to show stars history in homepage?"
In the homepage the notifications received when someone stars a project I own are hidden, is it configurable? I'd like to see them.

[2016-12-16 21:46] sindresorhus commented on #344
Not at the moment. See: https://github.com/sindresorhus/refined-github/issues/193

[2016-12-16 21:46] #344 closed

[2016-12-23 00:55] glasser opened #345 "Blame parent links no longer blame the parent"
#248 removed the ^ from the blame parent URL, so it now blames the commit of the line you clicked on, not its parent.

[2016-12-26 16:54] bfred-it commented on #193
This is still `next week`, right? :D

Here you go: https://github.com/bfred-it/webext-options-sync

This is the first part of what I had build. It's pretty small and self-contained. You can see it use in my [github-clean-feed](https://github.com/bfred-it/github-clean-feed) extension.

* [Defaults definition](https://github.com/bfred-it/github-clean-feed/blob/master/extension/options-init.js) (+ mi

[2017-01-07 23:36] DrewML commented on #301
Yeah, it's fixed in GitHub. Closing

[2017-01-07 23:36] #301 closed

[2017-01-08 00:03] DrewML commented on #302
Looks like this was fixed at some point.

[2017-01-08 00:03] #302 closed

[2017-01-08 05:51] AdrianoCahete commented on #71
Any update on this port?

[2017-01-10 23:33] dudeofawesome opened #348 "Why is the "Clone in Desktop" disabled?"
I see that #38 intentionally disabled the "Clone in Desktop" button. What is the reasoning for this?

[2017-01-10 23:38] jacobbearden commented on #348
The main contributors of the project, and afaik most people, use the command line rather than a desktop application. Because of this the "Open in Desktop" button was likely deemed unnecessary.

[2017-01-11 00:24] dudeofawesome commented on #348
Oh, I forgot there were buttons on each file for opening in desktop. Those ones are kinda pointless.

The main one I'm concerned about is the one in the "Clone or Download" pane on the main page of a repo.

![image](https://cloud.githubusercontent.com/assets/1683595/21830352/f2bfbdc0-d750-11e6-8257-d0ac6ea52d7b.png)

Looks kinda odd with a half-width button there.

[2017-01-11 07:34] sindresorhus commented on #348
Yes

[2017-01-11 07:34] #348 closed

[2017-01-11 10:04] hkdobrev commented on #348
@dudeofawesome You can just copy-paste the URL from the browser, it works.

[2017-01-11 19:47] dudeofawesome commented on #348
I feel like the "Clone in Desktop" button inside the "Clone or Download" popover isn't useless,
![image](https://cloud.githubusercontent.com/assets/1683595/21863150/23d5aa50-d7f1-11e6-85c4-ab9c2f8fdddf.png)
especially for people who use the Github Desktop app, who would otherwise have to clone through the CLI and then open up the Github Desktop app and manually add the repo to the app.

Again, I a

[2017-01-11 20:09] derimagia opened #349 "Linkifies branch reference incorrect when repo was renamed"
Example link: https://github.com/terminus-plugin-project/terminus-pancakes-plugin/pull/17

Notice the url is incorrect and 404s for the PR branch since it was renamed mid-pull request.

Not sure if this is possible to fix, but I didn't see any issue for it after some searching.

[2017-01-23 15:29] #208 closed

[2017-01-23 15:29] #345 closed

[2017-01-25 19:21] alexkrolick opened #351 "Hiding comment toolbar removes ability to upload images"

[2017-01-25 19:36] sindresorhus commented on #351
Duplicate of https://github.com/sindresorhus/refined-github/issues/136, but I would be willing to add it back if someone would make it more subtle and nice looking. Maybe using an icon instead.

[2017-01-27 00:30] pmbenjamin commented on #351
@sindresorhus would you be open to perhaps the keyboard shortcut: `⌘ + u`

[2017-01-27 14:06] sindresorhus commented on #351
Sure

[2017-02-01 09:49] pgorod commented on #80
I would also be interested. While it's not implemented, if anybody knows a workaround (some browser extension that can tweak html, for example), please share here. My desired behavior would be to change the tabs saying "Issues" and "Pull Requests" to a different URL (to specify my sorting preference). Thanks.

[2017-02-08 01:48] leocaseiro opened #352 "duplicated #js-repo-pjax-container for empty project on Issues Page"
Something is happening on the issues page for empty projects.

To reproduce this behaviour, follow these steps:

1. Create a new repository without readme
2. Go to Issues page

![screen shot 2017-02-08 at 12 42 52 pm](https://cloud.githubusercontent.com/assets/940070/22719949/292b3986-edfc-11e6-9eaf-3ec4e597bbed.png)

[2017-02-08 07:32] hkdobrev commented on #352
This has been previously reported in #216 and #259 and fixed in #258. It seems we have a regression and it's now reproducing again.

[2017-02-08 12:26] kgrz opened #353 "Code size for operator mono is very small"
Not sure if this is an issue per se, but since there is no way to either disable this font-family feature or to adjust the size, opening one for recommendations. Should there be an optimal per-font-family size added in the overriding stylesheet? (Not at all sure how this can be achieved though)

[2017-02-11 03:25] bfred-it commented on #193
Let me know if you'd like me to lay the foundations for an options view.

[2017-02-12 01:28] bfred-it commented on #256
@DrewML: CMD- is your friend. Big viewports are never full 🙂

[2017-02-12 13:04] sotojuan opened #358 "Fix the top black bar"
I don't like it! Making it the old color is just a class name change on the HTML element.

[2017-02-12 13:05] sotojuan commented on #358
Whoops, saw https://github.com/sindresorhus/refined-github/pull/356. Closing.

[2017-02-12 13:05] #358 closed

[2017-02-14 14:21] #352 closed

[2017-02-15 18:04] BlaineBradbury commented on #80
yes, recently updated is the way to go

[2017-02-15 18:07] giampaolo commented on #80
Google Code allowed to change the default via the settings tab. I think the best option is to maintain backward compatibility by keeping the current sort, but give administrator the ability to change it via the settings tab.

[2017-02-15 20:08] r10s commented on #80
I would also like "recently updated" as my default issue ordering. An option would be the way to go.

[2017-02-18 13:25] gluons commented on #71
Trying it on Firefox 53 (Developer Edition). Not bad. 👍

![firefox port issue 71 sindresorhus refined github](https://cloud.githubusercontent.com/assets/4688092/23093491/00bd3930-f618-11e6-9ad5-37c306405953.png)

[2017-03-01 17:47] sotojuan opened #360 "Thoughts on new colours?"

[2017-03-01 17:49] sindresorhus commented on #360
Feels strange now, but let's give it some time. I managed to get used to the black header and I now like it.

[2017-03-02 07:06] bfred-it commented on #360
hahaha I knew I'd find an issue on this here :rofl:

[2017-03-02 07:49] bfred-it opened #361 "Inline emoji dropdown"
What do you say? This can be done with a little CSS. Can send PR

# GitHub

<img width="259" alt="screen shot 2017-03-02 at 14 45 33" src="https://cloud.githubusercontent.com/assets/1402241/23497752/81ba4360-fed9-11e6-9d5a-7f63c7bc0db3.png">

# Refined GitHub

<img width="250" alt="screen shot 2017-03-02 at 14 44 41" src="https://cloud.githubusercontent.com/assets/1402241/23497758/8acb00fc-fed9-11

[2017-03-02 07:54] hkdobrev commented on #361
:-1: In your proposed version the path to select most emoji is longer. Especially for the most popular one - the +1 emoji.

[2017-03-02 07:58] bfred-it opened #362 "Limit reaction avatars to 2 when there are too many"
See it here: https://github.com/babel/babel/pull/3646

CSS-only change. Can send PR

# GitHub

<img width="704" alt="screen shot 2017-03-02 at 14 57 03" src="https://cloud.githubusercontent.com/assets/1402241/23498076/ce2d3bf2-feda-11e6-975e-caa502fecb85.png">

# Refined GitHub

<img width="705" alt="screen shot 2017-03-02 at 14 55 30" src="https://cloud.githubusercontent.com/assets/1402241/234980

[2017-03-02 08:00] bfred-it commented on #361
Longer but it's straight. The main reason why I thought of this is that since this comes up on `hover` now it covers other parts of the UI and you have to move farther to close it

[2017-03-03 10:20] jacobbearden commented on #362
:+1:

[2017-03-03 10:43] sindresorhus commented on #362
👍 PR welcome :)

[2017-03-04 06:07] bfred-it commented on #362
Can you leave all the reactions on this post so I can test it out with a non-locked thread?

[2017-03-05 23:56] DojoGeekRA opened #364 "Filename copy method"
The ability to toggle the file content during pull requests reviews is awesome, but sometimes the diff is hard to read and when you decide to copy the filename to read it in the IDE, the toggle feature interfere with this process (e.g. when you try to select the filename to copy it, you sometimes toggle the file's content several times).

It is possible to create method to copy the filename in the

[2017-03-06 07:57] schmuli opened #365 "Stylize OP name in comments"
Similar to how StackOverflow does it, can the OP name be stylized slightly differently when adding a comment to issues and pull requests?

[2017-03-06 13:18] bfred-it commented on #105
@sindresorhus in what world? `document.querySelector('.discussion-item-head_ref_deleted')` takes 0.1ms on the [most commented PR](https://github.com/sindresorhus/refined-github/pull/145) on this repo, that's outside the realm of HTTP timings.

[2017-03-06 18:30] sindresorhus commented on #365
Any suggestion on what kind of styling?

[2017-03-06 18:32] sindresorhus commented on #364
Sure, that could be useful. Pull request welcome if anyone wants this.

[2017-03-06 18:33] sindresorhus commented on #361
👎 I think we tried it out initially when making this feature, but we rather optimized for mouse distance. You can just move your mouse if something is beneath. It has honestly never been a problem and I pretty much live on GitHub.

[2017-03-06 18:55] #361 closed

[2017-03-07 16:43] sindresorhus commented on #105
@bfred-it I'm confused too. I was definitely wrong. I might have misunderstood something.

[2017-03-07 19:51] schmuli commented on #365
Something simple, like a background color?

If you look at any question on StackOverflow, you can see how the OP's name is displayed with a light blue background, including in any comments on the page, and also if the OP provides an answer.

[2017-03-08 10:15] jacobbearden commented on #365
Made a couple of mockups:

- Gray border (matching the Owner/Contributor tags)
![1](https://cloud.githubusercontent.com/assets/5340692/23699681/45a3512c-03ad-11e7-97b7-1cedb1ab2e24.PNG)

- GitHub's normal link color
![2](https://cloud.githubusercontent.com/assets/5340692/23699683/46fdba26-03ad-11e7-8547-14c50a5c7424.PNG)

- Light gray background, the same gray as the border above
![3](https://clou

[2017-03-08 10:36] schmuli commented on #365
Actually, I just noticed that when viewing your own comments, GitHub will add a slight blue background color to the whole comment header. Maybe something along those lines?

Otherwise, @jacobbearden mockups are great too, and also reuse existing GitHub styles/colors. I would probably go with the light gray background (3rd option).

[2017-03-08 13:54] hkdobrev commented on #365
I really like the badges from GitHub saying "Owner", "Collaborator", "Contributor". Do you think we could another one next to it saying "OP" or something like that?

[2017-03-08 14:00] paulmolluzzo commented on #365
This idea is most aligned with GH's styling. Also, it's more accessible than a colored BG or something, which might be hard to see/notice for some users.

[2017-03-08 14:01] hkdobrev commented on #365
It's also more explicit as some people might not be aware what the colouring is for.

[2017-03-08 14:36] schmuli commented on #365
The thing about using the badge is that the User may have their own "Owner"/"Collaborator"/etc. badge, and adding another badge might not be so clean.

Additionally, this feature will be included in the README of the extension, so anyone can find out about it and what decoration it will use. Personally, I don't like the abbreviation "OP", especially as a badge in this case.

[2017-03-08 14:57] hkdobrev opened #366 "Add link to all milestones on milestone page"
Milestones listing page is currently accessible through the Issues or Pull requests listing page. However, when you open a specific milestone page, there is no link to all milestones. You need to go to issues/PRs to see the link.

Changing the URL manually or clicking back when you have come from the milestones page works, but a link to the index should also be there.

Milestone page: https://gith

[2017-03-08 15:02] paulmolluzzo commented on #365
They'd have to stack to the left. I'm not sure this is a major detraction.

(I used @hkdobrev here only because he had the "Collaborator" badge already.)
![screen shot 2017-03-08 at 10 00 15 am](https://cloud.githubusercontent.com/assets/737065/23709041/1a233222-03e6-11e7-9a58-9212e5af71b2.png)

LOL, I'm not sure I've read the whole README on this project. :rofl:

"OP" might not be the best choice

[2017-03-08 15:06] schmuli commented on #365
@paulmolluzzo Having seen your mockup, I agree that this is not bad at all.

[2017-03-08 15:15] hkdobrev commented on #365
I'm still not sure whether "Original Poster" should be on the left or on the right side when there's a badge already, but I'm leaning more on keeping the original position of the GitHub badges and adding new ones on the left.

[2017-03-08 15:46] sindresorhus commented on #366
Make sure you email GitHub support about this too. Seems like an oversight on their part.

[2017-03-08 16:55] hkdobrev commented on #366
Contacted. ✅

[2017-03-08 20:31] paulmolluzzo commented on #365
Sure. That works fine too.

[2017-03-10 11:52] hkdobrev opened #367 "Link to pull request from blame view"
I often use GitHub blame to find a commit which introduced something, just to then find the PR which added this to see it in more context.

I think it would be useful to have a small button pointing to the PR directly from the blame view. For performance reasons, I imagine it would be calculated with an HTTP request only when the button is clicked, and not for every commit shown on the blame page.

[2017-03-12 15:17] raghavrv opened #368 "Favicon coloring based on PR status"
Hi,

I think it would be nice to have coloring in the github icon based on the PR status.

Example:

![image](https://cloud.githubusercontent.com/assets/9487348/23832966/2a05491c-073f-11e7-98c6-a68e669d9d4c.png)
![image](https://cloud.githubusercontent.com/assets/9487348/23832967/3438b23e-073f-11e7-9615-3a41ed10e7b7.png)
![image](https://cloud.githubusercontent.com/assets/9487348/23832969/3989285e

[2017-03-12 15:26] sindresorhus commented on #368
:+1: I like how Travis does this.

[2017-03-12 15:57] hkdobrev commented on #368
Could this include whether PR is mergeable? So not only CI status, but also whether there's an approval if it was required?

[2017-03-12 16:04] raghavrv commented on #368
We could add a star next to the icon to denote non-merge-ability maybe... But I'd recommend against coloring based on mergeability...

To me this coloring would tell me if I need to visit the page or wait for the CIs to turn green... Reviews on the other hand don't typically involve a fixed wait time where this could be useful...

But it would be nice to know that too without visiting the page...

[2017-03-12 16:32] paulmolluzzo commented on #368
I don't see the value in just showing if CIs passed. Those are automated and usually only take a short period of time to run. More to the point, if CIs pass and something else blocks merging (e.g. Conflicts or review denial), showing a green icon because my linter passed is, at best, inaccurate.

If we add a star for merging, what about other automated runners? I have sites with a deployment previ

[2017-03-12 17:00] hkdobrev commented on #368
👍 to what @paulmolluzzo said, but then I thought of a good (but complex) solution (I think).

What if we use what GitHub uses to show some reviewers have approved and others have requested changes - a multi-coloured green/red pie.

So here's my concrete suggestion:

If **PR doesn't require an approval and there's only one commit status**:
We have 3 icons - green, yellow, red - representing the com

[2017-03-12 17:00] raghavrv commented on #368
Completely depends on your CI... I constantly work with CIs (that are used only for testing rather than deployment) that are super congested and take 30 minutes to even start running and another 15 mins to complete at best... Even that could be considered short when you compare with some CIs that take several hours to start/pass...

One can add a status check for each of those...

To clarify I'm s

[2017-03-12 17:02] raghavrv commented on #368
Half in green half in red is a neat idea... Thanks @hkdobrev...

[2017-03-12 17:32] paulmolluzzo commented on #368
@hkdobrev's idea is interesting, but it's pretty complex. I'd need a cheat sheet to remember all these scenarios, and worse they'll change from repo to repo depending on third party processes. To top it all off the icon is... 32px square?

Further, this extension becomes kind of "transparent" over time. (@raghavrv forgot he had it installed! :smile:) Even if you commit this to memory you might for

[2017-03-12 17:47] raghavrv commented on #368
:P

How about color it like @paulmolluzzo suggests and add a status mark (green tick / red x / grey x / yellow dot) next to it just before the title?

[2017-03-12 19:44] sindresorhus commented on #367
How would it know whether to show the button or not without first doing a HTTP request?

[2017-03-12 19:50] sindresorhus commented on #368
We should try to keep it simple.

---

I won't get much benefit from it anyways. This is how my browser looks... 😫

<img width="1440" alt="screen shot 2017-03-13 at 02 48 27" src="https://cloud.githubusercontent.com/assets/170270/23835308/9dd2c3da-0797-11e7-9103-a5b141488abc.png">

[2017-03-12 20:21] raghavrv commented on #368
okay this gives the state of the PR :

`document.getElementsByClassName('statuses-toggle-opened')[0].parentNode.parentNode.getElementsByClassName('status-heading')[0].innerHTML.trim()`...

I can try and make a PR... Any guidance on where to fiddle? I have not touched javascript in a long while...

So keeping it absolutely simple, we want -

[code]

[2017-03-14 08:44] #362 closed

[2017-03-14 09:08] hkdobrev commented on #365
It's important to note that the user badge is on the left when the comment is left on a line of code. Example: https://github.com/sindresorhus/refined-github/pull/369#discussion_r105855587

[2017-03-15 03:02] paulmolluzzo commented on #368
I think you'll want to look for something closer to `$('.branch-action-item .completeness-indicator')` - this is the actual icon, and if it's a success it has the class `.completeness-indicator-success` as well. The Changes Requested item is an `svg` with a class on a `path`.

You might want to put this in a separate file and then you'll include and use it on on PR pages in `content.js`, probably

[2017-03-19 07:54] sindresorhus commented on #365
I think our custom badge should be where the native ones are, either right or left, depending on context.

[2017-03-21 23:12] superkhau commented on #309
I think user should be allowed to disable the projects tab just like the Wiki tab. I don't mind if it's left it on by default, but allow users to turn it off like you already do for wiki/issues, etc.

[2017-03-21 23:13] hkdobrev commented on #309
To clarify disabling of wiki and issues is functionality provided by GitHub. This is just a browser extension changing the DOM on the page.

[2017-03-22 14:49] evgenyrodionov opened #370 "Unread items at dashboard"
Hi, at first: thanks for the extension.
I want to propose highlight for unread items at the dashboard. Store at localStorage and mark as unread on hover at an element.

Example:
![image](https://cloud.githubusercontent.com/assets/775692/24203961/23da7d00-0f28-11e7-8435-3d00ce752777.png)

What do you think? If it'll be appreciated, I'll try to make a PR.

[2017-03-22 17:58] hkdobrev commented on #370
I personally wouldn't use that, because I have a very big backlog of items in the dashboard and I rarely open the homepage really so the extension won't be able to cache things and would show everything as new for me. But I don't have anything against that if it works for others. Please provide feedback.

@evgenyrodionov Thanks for opening this for discussion and providing such a useful screen!

[2017-03-24 04:23] cfredhart opened #371 "Add ability to expand all / collapse all for all files in a PR"
Rather than having to click on each header to collapse the files in a large PR, have a way to collapse all or expand all in one operation

[2017-03-24 04:25] sindresorhus commented on #371
See: https://github.com/sindresorhus/refined-github/pull/346

[2017-03-24 04:25] #371 closed

[2017-03-24 05:29] superkhau commented on #309
@hkdobrev Sorry, you're right, I'm posting in the wrong repo. ;)

[2017-03-24 19:48] jiaweihli opened #372 "Mark comments as resolved/unresolved"
https://github.com/benbernard/CommentTracker has a good implementation of this.  Could we add this to refined-github and enable it via an option on a per-repo basis?

[2017-03-24 20:13] paulmolluzzo commented on #372
From the README:

As for the feature itself, personally, I don't want it. GH has a native way for putting a revision request on a PR and that seems more in line with what I want. It seems like if I don't deselect all the repos I'll have an "Unresolved" badge on all comments and have to click them just to change the color. :-1:

Besides, this extension was updated two months ago. Why not install th

[2017-03-24 21:06] jiaweihli commented on #372
Being able to request reviews is different from being able to resolve a comment.

When reviewing large PRs, Github automatically folds a comment as outdated if the code around that area's changed.  But outdated doesn't necessarily mean resolved.  As the number of comments on a PR increases, it becomes more and more difficult to make sure everything's been addressed.  I've seen many projects use th

[2017-03-24 21:17] raghavrv commented on #368
Sorry for the late response...

For #346, I guess red as we decided (Fails on something (something=merge conflict))?

[2017-03-24 21:18] raghavrv commented on #368
Thanks... I'll try to make a PR tomorrow!

[2017-03-24 21:37] paulmolluzzo commented on #368
@raghavrv I guess that makes sense. It clearly can't just be merged as is.

Awesome!

[2017-03-29 16:37] hkdobrev commented on #309
GitHub added a setting to disable projects just like issues and wiki: https://github.com/blog/2339-disabling-projects-on-repositories 🎉

[2017-03-29 16:51] paulmolluzzo commented on #309
So we can close this issue then?

[2017-03-29 16:59] sindresorhus commented on #309
@paulmolluzzo No, it only works if everyone disables it if they don't use it, which very few will.

[2017-03-29 17:04] paulmolluzzo commented on #309
@sindresorhus Fair point and you're probably right that most people won't bother disabling it.

[2017-03-29 17:55] sindresorhus commented on #309
I'm marking this issue as pull request welcome. We can add a `Create Project` button in the the Settings where you can turn off `Projects`.

[2017-03-29 18:24] paulmolluzzo commented on #309
@sindresorhus you think we need to remove the `good for beginner` label? I think this is still pretty accessible for a beginner and we have a lot of info in this issue for someone to use in the solution. Just a 💡 .

[2017-03-29 18:49] sindresorhus commented on #309
I guess

[2017-04-04 03:17] durka opened #373 "Strike through link to closed issue"
Like Bugzilla, strike through the link to a closed issue or PR. Perhaps some slightly different formatting for merged PRs as well. cf https://github.com/isaacs/github/issues/451, https://github.com/isaacs/github/issues/313

[2017-04-09 12:22] karanrajpal14 opened #374 "Prevent copy from copying text from the adjacent column in a diff"
When I try to copy text from a split diff, it should restrict the copying to one column only and not both. Would you please consider adding this?

[2017-04-16 19:37] sindresorhus commented on #374
👎 That would add a lot of complexity for very limited gain. Just switch to Unified diff if you want to copy from a diff.

[2017-04-17 22:31] karanrajpal14 commented on #374
Fair enough. Thank you!

[2017-04-17 22:31] #374 closed

[2017-04-17 22:38] karanrajpal14 opened #377 "Issue with "Easier copy-pasting from diffs by making +/- signs unselectable""
It doesn't seem to be working all the time with all the pages. Sometimes I see both the "unselectable +" and the "selectable +". I haven't found a pattern to reproduce the issue but, I can link you to a page in which I was facing the same issue. Here's a link to it, and a screenshot as well. If you need anything else, let me know.

[Issue](https://github.com/DmitryMalkovich/stock-hawk-app/commit/1

[2017-04-18 14:27] stramel opened #378 "Feature Request - Ability to sort repository lists on Dashboard"
It would be nice if we could sort these lists A-Z.

Also, another nice thing would be to have the option to prioritize the non-fork repositories in the list.

Image for reference:

![image](https://cloud.githubusercontent.com/assets/855184/25135879/2c4c8702-2419-11e7-8b17-09c4906b1acb.png)

[2017-04-18 23:32] jgierer12 commented on #378
Regarding the non-fork repos, you get those when you click the 'Sources' tab

[2017-04-18 23:33] jgierer12 commented on #377
Seems to be an issue with lazy loaded diffs since all of them are broken after a certain point

[2017-04-19 05:14] sindresorhus commented on #378
👎 I don't really see the usefulness of A-Z sorting. Just use the search if you're looking for something specific. That list is mostly useful to quickly go to recently active repos.

Click "Sources".

[2017-04-19 20:26] #378 closed

[2017-04-20 06:48] #366 closed

[2017-04-24 05:51] karanrajpal14 commented on #377
@jgierer12 Any way to prevent it from happening?

[2017-04-24 11:57] Loilo opened #380 "Link issues in code comments"
I've seen that in several bigger projects, so if I'm not mistaken it's a common practice to clarify non-intuitive code sections that fix a certain behaviour with an issue ID, like "see #123".

See [here](https://github.com/contao/core/blob/549738f9a41974d963bd09a3a83ae0f46f887f01/system/modules/core/pages/PageForward.php#L51) for an example.

It would be nice to have those in-comment mentions—`/#[

[2017-04-24 12:14] sindresorhus commented on #380
Big :+1:

URLs in comments too.

[2017-04-24 18:16] paulmolluzzo commented on #380
🎉

[2017-04-24 18:27] jgierer12 commented on #377
Not right now 🙁

It also happens when you switch between raw and rendered Markdown:
![Switching between raw and rendered Markdown](https://cloud.githubusercontent.com/assets/4331946/25352433/4ce9eeba-292c-11e7-83e6-9d598015d6d0.gif)

[2017-04-24 18:51] Loilo commented on #380
Wow. That was fast. 👍

[2017-04-24 18:53] paulmolluzzo commented on #380
Whoops. Fat fingers. 😅

[2017-04-24 23:47] steveoh opened #383 "Move labels so things align nicely"
I do not think

![image](https://cloud.githubusercontent.com/assets/325813/25363124/9d03331e-2915-11e7-8d0b-cbc739e6893e.png)

looks as nice as

![image](https://cloud.githubusercontent.com/assets/325813/25363195/0a50bcde-2916-11e7-9eed-fb20753b531d.png)

Is that something this plugin would appreciate as well? I can work on adding it if you like the idea.

[2017-04-25 06:25] hkdobrev commented on #383
Personally, I like the current layout more as the focus is on the title and you see that first. The labels to me are secondary.

[2017-04-25 06:31] sindresorhus commented on #383
The latter looks a lot more messy in my opinion. The title is the important part and we should optimize for that, not the labels.

[2017-04-25 06:31] #383 closed

[2017-04-25 08:37] #365 closed

[2017-04-26 07:35] #380 closed

[2017-04-26 17:55] stramel opened #386 "Teams Page missing when organization has no teams"
With no teams and Refined-GitHub enabled:

![image](https://cloud.githubusercontent.com/assets/855184/25448869/8e9527e0-2a7f-11e7-8769-b8a99e0c1c4a.png)

With no teams and Refined-GitHub disabled:

![image](https://cloud.githubusercontent.com/assets/855184/25448888/a20fe5da-2a7f-11e7-8b3e-00a6b216f2d7.png)

Appears this line is the cause: https://github.com/sindresorhus/refined-github/blob/5a86c08

[2017-04-26 18:16] sindresorhus commented on #386
Thanks for reporting. Fixed by https://github.com/sindresorhus/refined-github/commit/c879036c58e8131bf2f4d3f1bbe8651f77631704.

[2017-04-26 18:16] #386 closed

[2017-04-26 18:16] stramel commented on #386
Wow, @sindresorhus is ⚡️ quick! 👏

[2017-04-26 23:40] hkdobrev opened #387 "Original poster label is wrong on inline discussions"
I don't have a public example of this, but I'll try to describe it below:

1. Look at a PR with inline review comments.
1. There's a comment thread started from a reviewer who is not the OP.
1. There are replies to this thread from the OP.
1. When you're on the Conversation tab of the PR, the OP label is correct.
1. When you go to the Files tab, we take the starter of the thread as OP. The actual

[2017-04-26 23:58] paulmolluzzo commented on #387
Not at my computer, but does this PR show the issue? https://github.com/paypal/glamorous/pull/24

If I had to guess it's the selector we're using to define OP (it's the first comment node essentially). On the types of threads I'm thinking this issue is referring to the OP isn't really clearly defined by the DOM. They might be _any_ of the comments (or not present).

Unfortunately, I think the only

[2017-04-27 00:14] hkdobrev commented on #387
@paulmolluzzo This thread is a great example of the issue, it shows it in a few different varieties. On that I've also noticed that after the PR is merged the text at the top which is present on all tabs changes from "someone wants to merge" to "someone merged" and this case these two people are different.

My suggestion would also be to not put the badge on the Files tab in PRs.

[2017-04-27 10:40] jgierer12 commented on #387
Another possibility would be to look at the branch name (<code><b>[user]</b>:[branch]</code> in your example; won't work if the branch is deleted) or the window title (<code>[PR title] by <b>[user]</b> · Pull Request #[num] · [owner]/[repo]</code>) to figure out the OP

[2017-04-27 10:44] hkdobrev commented on #387
@jgierer12 user:branch won't work in so many cases:
- PR is from a branch on the same repo
- someone created a PR from someone else's fork
- using a fork from an organisation

The page title could work, though!

[2017-04-28 00:00] #387 closed

[2017-04-28 07:20] leocaseiro opened #389 "Search filter for "Everything commented by you""
I use the search input a lot, and pretty much every day I see myself typing: "commenter:leocaseiro" which is my login.

I was wondering what you guys think if we add a filter that fills that up on "Filters" that populates our login on the search.

Eq:
![screen shot 2017-04-28 at 5 18 55 pm](https://cloud.githubusercontent.com/assets/940070/25518367/cb917d3e-2c36-11e7-8475-c4e6dbe0ed6c.png)

[2017-04-28 07:21] sindresorhus commented on #389
I use that filter a lot too.

[2017-04-29 13:16] hkdobrev commented on #389
Let's do it! 🙌

[2017-04-30 10:25] sindresorhus opened #390 "Linkify issue when switching tabs on a PR"
Steps to reproduce:

- Go to https://github.com/sindresorhus/awesome/pull/899
- Click the "Files changed" tab
- Click the "Conversation" tab
- Click the "Files changed" tab

You'll now see that the output went from:

[code]

To:

[code]

// @paulmolluzzo

[2017-04-30 14:50] paulmolluzzo commented on #390
Will do!

[2017-05-01 14:25] #390 closed

[2017-05-01 14:35] #377 closed

[2017-05-01 22:54] adjohnson916 commented on #246
GitHub doesn't seem to URL encode forward slashes in its links to branches that include them, though it seems to work anyway with our `%2F` encoding.

[2017-05-01 23:02] adjohnson916 commented on #202
@jamestalmage I've discovered (but not tried or inspected source so cannot yet recommend) https://justineo.github.io/github-hovercard/.

[2017-05-03 08:31] karlhorky opened #397 "Diff lines indented incorrectly"
It looks like a GitHub update has caused the easier copy/paste feature from #282 to start indenting diffs incorrectly in some places.

For instance, in the diff of #282 itself:

<img width="127" alt="screen shot 2017-05-03 at 10 02 36" src="https://cloud.githubusercontent.com/assets/1935696/25652450/91491f46-2fe8-11e7-8df9-fa81a6cde1d7.png">

https://github.com/sindresorhus/refined-github/pull/282

[2017-05-03 11:25] paulmolluzzo commented on #397
We just merged in #396, which might fix this issue. Would you mind updating to use `master` (not the latest version in the Chrome store) and see if it resolves the issue? If you're already using the latest version on `master` then, yeah, it's a bug. 😀

[2017-05-03 12:34] karlhorky commented on #397
Looks great @paulmolluzzo ! Sorry, I didn't see this merged PR - just looked through the open ones. When do you think this will be released?

Closing this issue. 😄

[2017-05-03 12:34] #397 closed

[2017-05-03 12:47] sindresorhus commented on #397
I just did a new release. It will take up to an hour to rollout to browsers.

[2017-05-04 03:11] busches opened #400 "JavaScript error on Compare screen"
If you navigate to the empty Compare screen, https://github.com/sindresorhus/refined-github/compare/, you'll get the following JS error from the plugin.
[code]

The code is assuming we always find an element with `$('.js-discussion, #files')`, but in the case of a blank comparison, we do not.
[code]

Easy enough fix that I can tackle tomorrow if no one beats me to it.

[2017-05-04 14:32] #389 closed

[2017-05-04 22:33] SCdF opened #401 "Triple-equals font doesn't look very good on lower dpi screens"
To me this triple equals makes me think my eyes have lost focus:
![image](https://cloud.githubusercontent.com/assets/583851/25727386/ddd99e1a-3120-11e7-823b-a8d2841ab501.png)

If I zoom in a bunch, it looks how I presume it's supposed to look:
![image](https://cloud.githubusercontent.com/assets/583851/25727398/f2bede4e-3120-11e7-8880-5b91100eb96f.png)

This on a Dell U3415W, which according to the

[2017-05-05 06:43] sindresorhus commented on #373
Would be useful indeed, but we would have to use the GitHub API for this, which has limits on how many requests we can do, so it gets complicated fast. We would also need to have an options page for the user to save their token. We could fetch the whole page instead and have no limits, but that's wasteful.

[2017-05-05 12:43] jgierer12 commented on #71
Since most of these are working now, I'll try to fix the remaining bugs.

[2017-05-05 19:02] jgierer12 commented on #401
This issue is specific to [FiraCode](https://github.com/tonsky/FiraCode). I tried changing the `text-rendering` which didn't help, so I don't think we can do much about it.

[2017-05-05 19:13] #360 closed

[2017-05-06 11:42] sindresorhus commented on #400
Fixed by https://github.com/sindresorhus/refined-github/pull/402.

[2017-05-06 11:42] #400 closed

[2017-05-06 11:43] #401 closed

[2017-05-06 11:55] sindresorhus opened #404 "Use ES2015 modules when available"
https://twitter.com/addyosmani/status/859296190323597313

[2017-05-06 12:21] paulmolluzzo commented on #404
Yeah, I'm stoked for this to make it to dev/stable.

What channel of Chrome are we waiting for? Does it have to be in stable? @sindresorhus do you have any analytics from the web store that tells us what version users are on?

[2017-05-06 12:49] jgierer12 commented on #404
Great article on this: https://jakearchibald.com/2017/es-modules-in-browsers/

[2017-05-06 13:31] sindresorhus commented on #404
Yes. It has to be stable Chrome, but we can do it as soon as it's out. Chrome is auto-upgraded, so we can always target latest.

[2017-05-07 07:06] arguiot opened #407 "Other browsers?"
Will it be on other browsers, such as Safari or Firefox??

[2017-05-07 07:09] jgierer12 commented on #407
See #14 #71

[2017-05-07 07:09] #407 closed

[2017-05-07 08:20] hkdobrev commented on #373
I would have liked that if it could have been done without requests.

Regarding the actual UI, I'd go with an icon of open/closed issue/PR. This way you'll also know what's this number is referring to.

[2017-05-08 14:15] derimagia commented on #315
Sounds like this this is dependent on #193, correct? How else would this work?

[2017-05-08 14:22] busches commented on #315
@derimagia could easily add it as a one off option to input domain(s) and not worry about encompassing all possible options.

[2017-05-09 02:12] bfred-it commented on #315
I tried this already, adding an option is not enough, you'll need to also inject the scripts manually. [Context](https://github.com/npmhub/npmhub/pull/31#issuecomment-279136772)

[2017-05-09 02:32] busches commented on #315
@bfred-it correct, you need to request permission for the site and then when on the site inject the scripts. Here's an example: https://github.com/buunguyen/octotree/blob/master/src/config/chrome/background.js

[2017-05-09 09:49] Loilo opened #410 "Move the "Close issue" button to the left"
It's not like this is a problem you see each and every day, but when it happens, it's kind of annoying: From time to time people fat-finger on the "Close issue" button when they actually meant to submit a comment.

![image](https://cloud.githubusercontent.com/assets/1922624/25845165/3b8dce98-34ad-11e7-81c0-5728ca591013.png)

It would be nice to create a little more space between those buttons, may

[2017-05-09 10:20] sindresorhus commented on #410
👍 Has happened to me in the past.

[2017-05-09 16:04] durka commented on #373
This seems to be the same as #202.

[2017-05-09 16:05] durka opened #412 "Cross-repo issue link in issue title"
See https://github.com/rust-lang/rust/pull/41830. The link in the title goes to `#4000` of the current repo even though it should be possible to match the `org/repo#num` pattern and make the correct link.

[2017-05-09 16:18] sindresorhus commented on #412
We already have the regex to make it happen here: https://github.com/sindresorhus/refined-github/blob/b1d48b1916674bdbd0ab4d12b1a9d80295677cb2/extension/linkify-urls-in-code.js#L2 We should move it to `util.js`.

[2017-05-09 16:59] paulmolluzzo commented on #410
Yeah, I don't think we need a heavy discussion, this has happened to me a few times. 👍

[2017-05-09 17:03] paulmolluzzo opened #413 "Multiple URLs in a line aren't linkified"
The linkifying for URLs in the code only linkifies the first URL in a line. See https://github.com/sindresorhus/refined-github/pull/405/files#diff-0730bb7c2e8f9ea2438b52e419dd86c9R47 for an example

[2017-05-09 17:34] sindresorhus commented on #410
@Loilo Would you be interested in doing a pull request?

[2017-05-09 17:35] Loilo commented on #410
Sure. :)

[2017-05-09 18:57] hkdobrev commented on #315
@busches @bfred-it Would one of you be willing to start a PR on this? I'm sure it will have good community support if any problems/questions arise. Many thanks!

[2017-05-09 18:58] hkdobrev commented on #373
@durka You are absolutely right! Closing in favour of #202.

[2017-05-09 18:58] #373 closed

[2017-05-09 18:59] hkdobrev commented on #202
Duplicate issue with some useful discussion: #373

[2017-05-09 19:01] hkdobrev commented on #412
@durka Good catch! Do you think you'd be able to work on a PR for this?

[2017-05-09 19:20] durka commented on #412
Absolutely, not until later this week though.

On Tue, May 9, 2017 at 3:01 PM, Haralan Dobrev <notifications@github.com>
wrote:

[2017-05-09 20:22] Loilo commented on #351
Just for the record: You can still insert an image via plain ol' `⌘V` resp. `Ctrl + V`.

[2017-05-09 20:28] hkdobrev commented on #351
Actually, I didn't know that! I was always using drag-n-drop. Thanks for the tip!

[2017-05-09 20:32] Loilo commented on #351
I was actually only trying it out today for the and it worked. Not sure if it has been around for long. :)

[2017-05-09 20:34] Loilo commented on #351
However, it makes snipping & pasting screen shots blast! 👍

[2017-05-10 13:34] sindresorhus commented on #351
Cmd+V is useful, but for some reason it doesn't work with GIF. They end up as static PNG. I think it's Chrome being dumb though.

[2017-05-10 13:46] alexkrolick commented on #351
Yeah, I think the image pasteboard does that. I've been using drag n drop,
but it's a pain with full screen windows.

On Wed, May 10, 2017, 6:34 AM Sindre Sorhus <notifications@github.com>
wrote:

[2017-05-10 21:33] #410 closed

[2017-05-11 06:50] sindresorhus commented on #410
@Loilo Make sure you also contact GitHub support about doing this natively ;)

[2017-05-11 06:52] sindresorhus commented on #389
@leocaseiro @busches If you haven't done it already, can you contact GitHub support about doing this natively?

From the readme:

[2017-05-11 06:55] sindresorhus commented on #365
@schmuli @jacobbearden @jgierer12 If you haven't done it already, can you contact GitHub support and request this feature?

From the readme:

[2017-05-11 08:20] leocaseiro commented on #389
@sindresorhus

I emailed the support team!!!

[2017-05-11 08:26] sindresorhus commented on #351
@alexkrolick https://twitter.com/sindresorhus/status/862584385534435328

[2017-05-11 10:14] AshikNesin commented on #364
I'm working on it @sindresorhus :)

[2017-05-11 10:34] leocaseiro commented on #389
Here's the answer from the support:
<img width="488" alt="screen shot 2017-05-11 at 8 33 39 pm" src="https://cloud.githubusercontent.com/assets/940070/25945143/363b6ba2-3689-11e7-8325-bf412b17bbf5.png">

[2017-05-11 12:58] #309 closed

[2017-05-11 13:19] smeijer commented on #80
Especially for milestones, this would be awesome. Milestones are currently sorted on "recently updated", while "closest due date" is more useful in my opinion.

[2017-05-11 13:44] paulmolluzzo commented on #389
:rofl:

That's awesome @leocaseiro!

[2017-05-11 13:48] leocaseiro commented on #389
Dear @paulmolluzzo,

I am flattered with your reply.

LOL

[2017-05-11 19:09] hkdobrev commented on #364
Just to mention the issue initially reported in this issue is now obsolete after #405 as GitHub has implemented collapsing. I think we should close this issue even with #417 in the works.

[2017-05-11 19:14] #364 closed

[2017-05-12 15:37] busches opened #418 "Projects Tab Still Visible on GHE"
For some reason GHE has the class name on the span as `counter` instead of `Counter`, meaning we don't find the count and don't remove the tab. Can we search for the span instead or just `ounter` with `projectsTab.find('span[class$="ounter"]')`?

Current code: https://github.com/sindresorhus/refined-github/blob/master/extension/content.js#L354-L359
[code]

[2017-05-12 15:38] sindresorhus commented on #418
I don't understand. We don't support GHE.

[2017-05-12 15:51] busches commented on #418
Maybe not directly, but a small change would allow this feature to work for both and you're against that? Also if we ever do Issue #315, then this would come up.

[2017-05-12 15:57] jgierer12 commented on #418
👍, but I'd rather look for `.Counter, .counter` than `span[class$="ounter"]`

[2017-05-12 16:17] sindresorhus commented on #418
Do we really want the overhead of that when we can't test it, is all I'm saying. GHE is always a little bit behind, so there's very likely other things will be broken in the future or are already broken.

[2017-05-12 18:00] busches commented on #418
@sindresorhus that's up to the project maintainers to decide. If the decision is not to support it, then I think so much should be said on #315 as well to make it clear this isn't something the project wants.

[2017-05-12 18:11] sindresorhus commented on #418
I'm willing to do it if someone using GHE wants to join the project. If not, it's pretty hopeless for us to fix issues that come up.

[2017-05-12 18:18] hkdobrev commented on #418
I'll insist on supporting GHE even though I'm not using GHE myself.

Users of GHE are often power users and are the customers paying the most to GitHub, so this would make GitHub take changes from the extension even more seriously if enterprise customers are adding a browser extension to ad

@sindresorhus

@busches has already contributed and is a GHE user. We also have others like @bfred-it, I th

[2017-05-12 18:41] busches commented on #418
@hkdobrev I certainly can tonight. I've applied @jgierer12's fix in my local fork that works on our GHE and it's working fine.

[2017-05-12 18:53] sindresorhus commented on #418
Good point. Maybe it's time to introduce that settings page to enable GHE out of the box then.

[2017-05-12 18:53] sindresorhus commented on #418
@busches Would you be interested in joining the project? You've already done some good PRs :)

[2017-05-12 18:54] #418 closed

[2017-05-12 19:39] #351 closed

[2017-05-12 19:49] #412 closed

[2017-05-13 08:52] #413 closed

[2017-05-13 12:26] hkdobrev commented on #367
Closing this as I honestly how it'd be possible in a performant manner.

[2017-05-13 12:26] #367 closed

[2017-05-13 12:32] hkdobrev opened #421 "Remove Milestones filter if there are no milestones"
![image](https://cloud.githubusercontent.com/assets/506129/26025465/29c6047c-37f1-11e7-8c20-32e3a3a6559c.png)

When there are no milestones the filter in issues and PRs listing page in a repo still have a filter for milestones which is not useful at all. There's just one option which just shows all issues/PRs with no milestones which are basically every issue/PR.

I think this would reduce clutter

[2017-05-13 13:27] hkdobrev commented on #132
Perhaps this could be solved with these fancy mutation observers stuff.

[2017-05-13 13:33] hkdobrev commented on #209
This problem is no more. GitHub has implemented its own collapsing and we've removed collapsing from the extension: #405. Also, there's a copy button next to each file now thanks to #417 and @AshikNesin.

[2017-05-13 13:33] #209 closed

[2017-05-13 13:37] #232 closed

[2017-05-13 13:39] hkdobrev commented on #239
Personally, I'd like to keep as-is - no need to waste space for your own avatar, the colour is enough for me.

[2017-05-13 13:46] hkdobrev commented on #255
I don't see much benefit in this as it's more about the commits than the files. GitHub has added functionality to the conversation timeline showing new things which you haven't seen and other good stuff there. Collapsing files and trying to uncollapse is fragile, but also doesn't show you the whole picture. You could have added a new file in a PR in one commit and then remove that file in a subseq

[2017-05-13 13:52] hkdobrev commented on #260
@shaharmor I don't think this is still happening. If you can reproduce it, please report to GitHub as it's most surely a bug. I'm closing this as GitHub should fix that for sure.

[2017-05-13 13:52] #260 closed

[2017-05-13 13:57] hkdobrev commented on #273
@DrewML Do you still have plans to publish your work regarding the API token?

[2017-05-13 14:36] hkdobrev commented on #310
Anyone else wants this? I don't think we should do this with all of the recent developments on PR reviews.

[2017-05-13 14:37] hkdobrev commented on #312
@jbrooksuk Do you think you could work on a PR about this?

[2017-05-13 14:41] hkdobrev commented on #311
Most repositories don't use milestones and so I don't think this would be much useful to most people (hence my suggestion of #421). Also, milestones are not accessible in the DOM of the main repo page so we won't be able to check if the repo is using milestones from there like we do with counting releases and cache it. I think a good addition was #375 which was strangely missing from the UI.

Clos

[2017-05-13 14:41] #311 closed

[2017-05-13 14:44] hkdobrev commented on #322
@anselmh @steveoh or anyone else who wants to work on this?

[2017-05-13 14:47] hkdobrev commented on #349
This would be fixed with #422. @derimagia Could you please take a look at it? Thanks!

[2017-05-13 14:49] hkdobrev commented on #372
I think this is not a simple problem and efforts should be targetted in improving the other browser extension instead of duplicating non-trivial functionality.

[2017-05-13 14:55] #239 closed

[2017-05-13 15:18] darahak opened #424 "Mark as unread: "undefined" icon"
When I mark an issue or PR as unread, the status icon for that item is lost.
Instead, it shows a string that says "undefined".

Reproduced on Chrome 58.0.3029.96, Windows 10.

![](http://imgur.com/sRW7kbB.png)

[2017-05-13 15:22] anselmh commented on #322
I’ll fix that. Sorry, totally had forgotten about this.

[2017-05-13 15:26] anselmh commented on #322
And here you go with https://github.com/sindresorhus/refined-github/pull/425.

[2017-05-13 16:22] AshikNesin commented on #424
I'm working on it @hkdobrev & @darahak  :)

[2017-05-13 20:45] AshikNesin opened #427 "Unread count in notification page"
Right now unread count in notification page doesn't include the things we bookmarked using "Mark as unread" button.

Don't we need to include that too ? @sindresorhus @hkdobrev

![image](https://cloud.githubusercontent.com/assets/4201088/26029065/14576f32-384a-11e7-987b-bdf55c46e7ce.png)

[2017-05-13 21:34] hkdobrev commented on #427
👍 This is similar to #292. Looks like we don't take into consideration these manually unread notifications in quite a few places.

[2017-05-13 21:37] AshikNesin commented on #427
Will work on this issue & #292 tomorrow :)

[2017-05-14 10:09] AshikNesin commented on #427
Have fixed it and submitted PR (https://github.com/sindresorhus/refined-github/pull/428 )

[2017-05-14 12:20] AshikNesin commented on #292
@jgierer12 I'm working on it.

Don't have any unread github notification.

Can you reply to my comment ? 😄

[2017-05-14 12:23] jgierer12 commented on #292
@AshikNesin 👍

[2017-05-14 15:06] AshikNesin commented on #291
I'm working on it :)

[2017-05-14 15:16] #424 closed

[2017-05-14 15:31] AshikNesin commented on #291
@jgierer12 Just checked. The bug still exists.

![screen recording 2017-05-14 at 08 57 pm](https://cloud.githubusercontent.com/assets/4201088/26035344/4bd1506a-38e8-11e7-874c-d9e8e5422c2a.gif)

[2017-05-14 15:47] jgierer12 commented on #291
My bad, I thought @vadimdemedes was talking about the checkmark button in the per-repo header

[2017-05-14 15:50] AshikNesin commented on #291
@jgierer12 No problem 😄

Have fixed it 🔥

[2017-05-14 16:26] jgierer12 commented on #353
Duplicate of #242

[2017-05-14 16:26] #353 closed

[2017-05-15 04:35] derimagia commented on #349
LGTM! Works like a charm.

[2017-05-15 18:43] #105 closed

[2017-05-15 18:43] #349 closed

[2017-05-15 18:46] #427 closed

[2017-05-16 04:58] #276 closed

[2017-05-16 19:02] AshikNesin commented on #213
@hkdobrev I'll pick up and fix this issue :)

[2017-05-16 19:46] hkdobrev commented on #213
@AshikNesin Thanks! You could cherry-pick some commits from #215 if you think it will be useful to you.

[2017-05-19 09:39] sindresorhus commented on #421
👍

[2017-05-19 14:41] #291 closed

[2017-05-19 14:43] #292 closed

[2017-05-19 15:24] hkdobrev opened #431 "Inject Releases and Compare tab before Settings tab"
At the moment we inject Releases and Compare tabs at the end of the repository tabs strip.

However, when you have admin access to a repository you also have a Settings tab, which in canonical GitHub interface is always last. And this makes sense.

We should change our injecting so the Settings tab always remain last if it is present.

[2017-05-19 22:19] jgierer12 commented on #315
➡️ see how this was done in https://github.com/npmhub/npmhub/pull/31

[2017-05-19 23:54] bfred-it commented on #315
My intention is to package those files up, that's why they're very generic and read directly from `manifest.json`. You may import them into a `vendor` folder for now.

[2017-05-21 18:04] jonhoo commented on #162
The current behavior also interacts poorly with using `Ctrl` + `Tab` for switching tabs. If I'm writing a comment and have to switch to another tab for reference, pressing `Ctrl` + `Tab` causes spaces to be inserted into the comment just before the tab switch occurs. When I switch back, I have to erase the spaces before I can continue typing :(

[2017-05-22 16:46] jgierer12 opened #433 "Show "Pulse" item in "Insights" dropdown"
The "Pulse" item in the new "Insights" dropdown menu seems to be hidden by this extension.

[2017-05-22 16:47] sindresorhus commented on #433
We should also ensure `Insights` is the last item.

[2017-05-22 16:49] jgierer12 commented on #433
@lukaszklis could do that in #432

[2017-05-22 16:52] #431 closed

[2017-05-22 16:53] sindresorhus commented on #433
Actually, nevermind. It was already handled by #432.

[2017-05-22 17:02] hkdobrev commented on #433
So we should just remove the code which hides the Pulse tab, right?

[2017-05-22 17:10] sindresorhus commented on #433
Yes

[2017-05-22 17:28] hkdobrev opened #435 "Refined GitHub has reached 5000 users on Chrome 🎉"
https://chrome.google.com/webstore/detail/refined-github/hlepfoohegkhhmjieoechaddaejaokhf

This is not an actual issue, but just a thread for celebration!

It's amazing when you think that a power-user extension for a single browser for a particular developer-specific website could reach so many users. 😎

Thanks to @sindresorhus for starting it and all of the collaborators for so actively maintain

[2017-05-22 17:48] paulmolluzzo commented on #435
Wow! That's awesome! Thanks for highlighting the milestone @hkdobrev!

Thanks to everyone who's contributed!

🎉🙌👏👏👏

[2017-05-22 18:41] AshikNesin commented on #233
I'll work on it this week :)

[2017-05-23 02:56] busches commented on #421
I took a stab at this, but the milestone list isn't loaded until you attempt to filter on it. Is there another way we can determine if they're using milestones outside of what's in the list and if not, do we want to call the list all the time just to remove it?

[2017-05-23 08:36] sindresorhus commented on #421
@busches Use `MutationObserver`.

[2017-05-23 08:45] lukaszklis commented on #278
What is the expected result here in the end? Adding the `title` attribute for `g-emoji` and removing the styling?

[2017-05-23 11:40] hkdobrev commented on #278
@jacobbearden It seems on Ubuntu the fallback-src is transferred to an `<img>` element with a title. Probably the raw emoji there is not supported.

[2017-05-23 11:41] hkdobrev commented on #278
@lukaszklis I think we should at least have the title attribute before anything else as it's quite annoying. This is what the original issue is about.

@sindresorhus could you clarify what you mean? Perhaps revert the whole `<g-emoji>` and in practice force the fallback?

[2017-05-23 14:18] #433 closed

[2017-05-24 02:58] busches commented on #421
@sindresorhus that seems clunky though. I'd click on `Milestones` and then it'd load the list, it has no milestones, and we'd immediately remove it?

[2017-05-24 03:06] sindresorhus commented on #421
MutationObserver is pretty fast, so not sure it would even be visible before it was removed. Any other suggestions?

[2017-05-24 03:10] sindresorhus commented on #421
Ok, I misunderstood how it worked.

[2017-05-24 16:50] markspolakovs opened #438 "Highlight issues and PRs from org members"
Context: for example, in the [React](https://github.com/facebook/react/pulls) team, much of the work happens via PRs, even by the core team. However, these core team PRs are lost in the long, long list of contributions.

Proposal: highlight PRs that are from members of the repo owning org, Facebook in the example of React.

[2017-05-24 16:56] #71 closed

[2017-05-24 19:40] jgierer12 opened #439 "Deploy to AMO"
- [x] Initial submit to AMO
  @sindresorhus do you want to submit it yourself? Otherwise I'll do it. Either way you're going to have to create an account on https://addons.mozilla.org/en-US/developers/
- [x] Set up auto-deployment using [web-ext](https://github.com/mozilla/web-ext)
  https://github.com/sindresorhus/refined-github/pull/403#issuecomment-302838065
- [ ] Fix review warnings:
  <detail

[2017-05-25 07:15] sindresorhus commented on #439
@jgierer12 I've submitted it for review and added you as owner on AMO.

@hkdobrev @paulmolluzzo Register on https://addons.mozilla.org/en-US/developers/ and let me know and I'll add you as owners too.

[2017-05-25 07:44] sindresorhus opened #440 "Repo tabs doesn't fit when Wiki and Projects tabs are enabled"
<img width="939" alt="screen shot 2017-05-25 at 14 43 49" src="https://cloud.githubusercontent.com/assets/170270/26440906/9512c24a-4158-11e7-9b3a-db1e9bbf7156.png">

Maybe we should renamed `Insights` to `More` and move `Settings` there too?

[2017-05-25 10:48] hkdobrev commented on #440
To clarify they don't fit when you have Issues, Projects and Wiki enabled and Settings available.

[2017-05-25 10:49] hkdobrev commented on #440
I'd prefer to remove the Compare tab in these cases. If we do the More drop down suggestion, I'd move Compare in there instead of Settings.

[2017-05-25 10:49] sindresorhus commented on #440
How often do you really need Settings though?

[2017-05-25 10:51] hkdobrev commented on #440
Well, I use the tab 2-3 times per week on various repositories. However, I am yet to use the Compare tab.

To clarify we'd always have the Compare tab except for cases when you have admin access to a repo with a project.

[2017-05-25 10:52] hkdobrev commented on #440
We can consider reducing spacing or using just icons with a shortcut letter just in this case.

[2017-05-25 11:06] sindresorhus commented on #440
Ok, let's put Compare in the More dropdown if it doesn't fit.

[2017-05-25 13:07] hkdobrev commented on #440
Steps to reproduce for anyone who want to pick this up:
1. Create a repo
2. Go to settings
3. Create a project

[2017-05-26 01:22] paulmolluzzo commented on #439
@sindresorhus Here you go: https://addons.mozilla.org/en-US/firefox/user/paulmolluzzo/

[2017-05-26 04:19] bfred-it commented on #439
I can set up the amo autodeployment if you want

[2017-05-26 09:40] bfred-it commented on #440
Possible alternatives:

- Shorten Pull Requests to PRs
- Use the "Settings" icon only, no text
- Use the "Graphs" icon for "Insights", no text

[2017-05-26 09:45] bfred-it commented on #404
Don't forget Firefox! #403

Let's keep an eye on this: https://caniuse.com/#feat=es6-module

[2017-05-26 10:10] bfred-it commented on #438
I think we'd need an API key for that. This works, except no pagination for orgs with 101+ members:

[code]

[2017-05-26 16:51] bfred-it commented on #418
Side note: @hkdobrev I'm not a GHE user :D

[2017-05-26 17:03] #183 closed

[2017-05-26 17:26] sindresorhus commented on #438
I think we should wait for the GraphQL API. It will make this much simpler to implement.

[2017-05-26 17:27] markspolakovs commented on #438
If you mean "wait for it to come out of early access", see https://github.com/blog/2359-introducing-github-marketplace-and-more-tools-to-customize-your-workflow

[2017-05-26 17:37] bfred-it commented on #438
It doesn't look like GraphQL simplifies things, from what I understand the only advantage is getting only what's needed as opposed to a big JSON.

I hoped you could query the visible user names directly but I don't think that's possible.

[2017-05-27 12:12] sindresorhus commented on #404
One thing we haven't considered is that even with ES2015 module support, we will not be able to use npm packages that have dependencies. That is very inconvenient. We will also have to use the full path to the JS files.

[2017-05-27 16:53] bfred-it commented on #404
I'm not sure how extensions will handle es modules but I assume you do not need to list them there; if you did, they wouldn't be loaded as modules.

About node_modules: yes, using them will not be very convenient. There would still need to be some bundler that takes all of them out of that folder.

So yes, maybe it's best to just go with a regular bundler.

I used rollup before: https://github.com

[2017-05-28 10:16] jgierer12 opened #451 "Remove "Marketplace" nav item"
I think its position in the top nav is way too prominent. I'd move it into the profile drop-down, underneath "Explore"

[2017-05-28 10:32] sindresorhus commented on #451
I was thinking the same thing.

[2017-05-28 10:34] #278 closed

[2017-05-28 11:12] hkdobrev commented on #451
👍 Though, I'd recommend waiting a bit so people could explore it a bit.

[2017-05-28 14:03] sindresorhus commented on #451
Sure

[2017-05-29 03:26] bfred-it commented on #404
If the config in https://github.com/npmhub/npmhub/pull/55 looks good to you I'll open a PR

[2017-05-29 13:46] sindresorhus commented on #404
@paulmolluzzo @hkdobrev ⬆️ Thoughts?

[2017-05-29 19:17] bfred-it commented on #317
This is no browser bug, the space is actually there and it's being added by #282

<img width="128" alt="whitespace node" src="https://cloud.githubusercontent.com/assets/1402241/26560104/79147cd2-44e6-11e7-8c50-6ab2dd80957f.png">

[2017-05-30 13:45] bfred-it commented on #80
What's the decision on this?

I went ahead and implemented it as a simple change: default the tab to **Recently Updated**.

I'd hate to find the issues in whatever weird order I checked the previous time. It should always be the same

The problem with touching the (issues/PRs) search is that you're gonna have to intercept XHR calls and/or visually change the search field under the user's eyes.

On

[2017-05-30 14:13] bfred-it commented on #226
Is this needed? You can already _skip all files_ by using this dropdown

<img width="474" alt="screen shot 2017-05-30 at 22 13 16" src="https://cloud.githubusercontent.com/assets/1402241/26587535/3d11f1b6-4585-11e7-83b4-7520c9f4b41a.png">

[2017-05-30 15:55] bfred-it commented on #233
Would `$(document).on('socket:message')` actually work? I got no events when testing it for #132, even though I saw GH's own code triggering the event.

[2017-05-30 16:03] paulmolluzzo commented on #404
If we can't use npm packages with dependencies then we're going to be pretty limited I think. I'm also a little concerned that if we add in a lot of busywork to use npm package then new contributors might get overwhelmed when thinking about starting a PR.

If @bfred-it wants to open a PR, it looks like the config in https://github.com/npmhub/npmhub/pull/55 makes sense, but some documentation could

[2017-05-30 16:10] bfred-it commented on #404
I can work on the build and the docs, but I'd need help with the tests and the git hook (which afaik is not added automatically unless we add something like [`husky`](https://github.com/typicode/husky))

I'll do it once most of the current PRs are merged

[2017-05-30 16:11] AshikNesin commented on #233
@bfred-it  I also tried `$(document).on('socket:message')` but it didn't work :(

[2017-05-30 16:18] bfred-it commented on #233
I _thiiiink_ this happens because jQuery doesn't trigger real DOM events but it just short-circuits within its own event Map. So unless we use GH's own jQuery (we can't) we probably won't be able to listen to them.

Pinging jQuery experts around the world. It'd be nice to plug into GH's own events rather than rely on MutationObservers

[2017-05-30 22:48] jacehensley-wf opened #456 "Subword navigation"
Would it be possible to add support for subword navigation? Basically the same functionality as this [package](https://marketplace.visualstudio.com/items?itemName=OlleWestman.SubwordNavigation) for VS Code or how sublime works.

[2017-05-31 14:14] bfred-it opened #458 ""My Repos" tab in global "Issues" and "Pull requests" pages"
We've all been there. That issue that you just forgot about. That PR that has been sitting in your repo for months. GitHub offers no simple view that.

I can add "Your repos/PRs" links similar to #406:

* [Open issues on my repos](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3Abfred-it) (link is actually to **my** repos)
* [Open PRs on my repos](https://github.com/pulls?utf

[2017-05-31 14:49] busches commented on #458
The links you have there are the same as `Yours` links right now or are you suggesting we add additional criteria?

[2017-05-31 16:41] bfred-it commented on #458
Duh, for whatever reason I thought they weren't. Sorry!

[2017-05-31 16:41] #458 closed

[2017-05-31 16:59] jgierer12 commented on #456
For GH's code editor? I don't edit/select code on GH enough to justify building such a complex feature

[2017-05-31 18:01] jacehensley-wf commented on #456
I was thinking just the comment text area. I don't edit code on GH pretty much ever.

[2017-06-01 16:39] #315 closed

[2017-06-01 16:45] busches opened #461 "Remove hardcoded references to Github.com"
Alternate domain support was added in #450, but quite a few features do not work on other domains due to always having `github.com` or similar hard coded into the code. Here are a few of the features that are for sure broken:
* [ ] Linkify Branch References
* [ ] Add Delete Fork Link
* [ ] isGist function detection
* [ ] Reaction Avatar images
* [ ] Showing Real Name next to username
* [ ] Linkify

[2017-06-01 16:51] #134 closed

[2017-06-01 16:56] #322 closed

[2017-06-01 17:46] hkdobrev opened #462 "Remove GitHub Marketplace block from pull requests"
![image](https://cloud.githubusercontent.com/assets/506129/26692968/41fbe7ae-470b-11e7-8b9d-1b102c31c5b5.png)

You could find this on pull requests without a commit status where you are an administrator.

This should be removed in order to abide by the other UI elements we've removed which are not useful to power users.

[2017-06-01 18:37] sindresorhus opened #463 "URL linkification fails inside a Travis badge"
It results in:

[code]

From: https://github.com/sindresorhus/caprine/pull/220/files

[2017-06-01 21:32] #288 closed

[2017-06-01 22:00] jgierer12 commented on #439
Wow, that was fast!
![:tada:](https://cloud.githubusercontent.com/assets/4331946/26702584/eb793362-4725-11e7-9713-2a24dc7418b3.png)

[2017-06-01 23:10] hkdobrev commented on #439
@sindresorhus https://addons.mozilla.org/en-US/firefox/user/hkdobrev/ Thanks!

[2017-06-01 23:14] #435 closed

[2017-06-02 19:36] sindresorhus commented on #226
Nah, not worth it.

[2017-06-05 14:50] bfred-it commented on #439
Why does the URL contain a dash at the end?

https://addons.mozilla.org/en-US/firefox/addon/refined-github-/
https://addons.mozilla.org/en-US/firefox/addon/refined-github/ ⬅️ doesn't work

[2017-06-05 15:23] bfred-it commented on #404
@paulmolluzzo how do df5290024c68533259d2fd7000f1c0d81516ba8e and 884fdfc41e8e08459d80e658828bc29a7fb76a5d look regarding the docs+tests?

[2017-06-05 19:07] paulmolluzzo commented on #404
Looks good to me, thanks! 👍

[2017-06-05 20:35] #404 closed

[2017-06-05 20:41] sindresorhus commented on #439
@bfred-it I had to add a dash as the AMO UI insisted the one without a dash was already taken.

[2017-06-06 02:55] bfred-it commented on #439
Can you give [me](https://addons.mozilla.org/en-US/firefox/user/bfred_it/) access to AMO? I can try contacting them

[2017-06-06 05:04] sindresorhus commented on #439
@hkdobrev @bfred-it I need the email you used to sign up for the AMO account.

[2017-06-06 05:06] bfred-it commented on #439
me@bfred.it

[2017-06-06 05:09] sindresorhus commented on #439
Added

[2017-06-06 05:19] #461 closed

[2017-06-06 08:35] bfred-it commented on #439
Still missing: #470 (auto-deployment) and #467 (unsafe innerHTML)

[2017-06-06 09:12] bfred-it opened #472 "Shorten links to files in comments (WIP)"
Look at these beautiful autolinking:

* https://github.com/sindresorhus/refined-github/commit/784a028af8c04da116e0bd5c0c07569eeef52486
  it was `https://github.com/sindresorhus/refined-github/commit/784a028af8c04da116e0bd5c0c07569eeef52486`
* https://github.com/rollup/rollup/issues/1435
  it was `https://github.com/rollup/rollup/issues/1435`

But file links don't get the same treatment:

* https:/

[2017-06-06 09:38] sindresorhus commented on #472
👍

[2017-06-06 14:11] sindresorhus opened #474 ""This page is out of date" message shows in the wrong place when scrolled to the top"
<img width="600" alt="screen shot 2017-06-06 at 21 09 19" src="https://cloud.githubusercontent.com/assets/170270/26833397/82b5ede0-4afc-11e7-8500-4f9d1020ca0d.png">

It shouldn't be above other information. I'm not sure how it looks natively, but that's how it should look.

To reproduce: Open a PR, stay on the the diff view, and then push another commit or force push.

[2017-06-06 14:17] sindresorhus opened #475 "Too much whitespace under some news feed events"
<img width="656" alt="screen shot 2017-06-06 at 17 32 04" src="https://cloud.githubusercontent.com/assets/170270/26833750/8cbdc942-4afd-11e7-9776-b98ed090ebf2.png">

[2017-06-06 16:14] hkdobrev commented on #474
@sindresorhus Are you reproducing this in every case? I'm seeing this quite a few times in my day because we're using rebasing and force-pushing a lot. It was never misaligned like that, though. So I think there could be something else to it.

[2017-06-06 16:17] yakov116 opened #477 "Don't see Pushed branches or created branches in feed"
Is this on purpose?

[2017-06-06 16:19] sindresorhus commented on #477
Yes

[2017-06-06 16:19] yakov116 commented on #477
Any way I can enable it?

[2017-06-06 16:20] sindresorhus commented on #477
https://github.com/sindresorhus/refined-github#customization

[2017-06-06 16:20] sindresorhus opened #478 "Weird escaping in issue titles with single-quote"
<img width="806" alt="screen shot 2017-06-06 at 23 19 36" src="https://user-images.githubusercontent.com/170270/26839936-b1dce8fa-4b0e-11e7-8869-b363c2e2cb1f.png">

Example: https://github.com/sindresorhus/refined-github/issues/477

[2017-06-06 16:21] sindresorhus commented on #474
@hkdobrev Yes. @vadimdemedes Is seeing this all the time too. It only shows when you're scrolled to the top of the page. Otherwise it's fine.

[2017-06-06 16:22] yakov116 commented on #477
Glad I found a bug :)

I think you should put this in the list of highlights no? (that you take this out)

[2017-06-06 16:22] #477 closed

[2017-06-06 16:44] hkdobrev commented on #462
I can't reproduce this box anymore after I've dismissed it. I've cleared all my GitHub Application storage - cookies, localstorage etc. Tried with changing protected branches settings and still nothing. Either GitHub has removed it or they persist that I've dismissed it in the database.

If anyone sees it, please just remove it via CSS or paste the selector here. Thanks!

[2017-06-06 16:48] hkdobrev opened #479 "Trending nav item is repeating in header"
![image](https://user-images.githubusercontent.com/506129/26841039-fd17f8aa-4af0-11e7-8997-327dfc3d3c58.png)

Steps to reproduce:
1. Go to https://github.com/sindresorhus/refined-github It's added twice
1. Click on a sub-repo navigation item - e.g. Issues tab.

This has been introduced relatively recently on `master`.

[2017-06-07 05:46] sindresorhus opened #480 "Format code blocks in comments with Prettier"
I often get comments on my repos with some example code from a user and the code is close to unreadable because of bad formatting. Would be nice to have [Prettier](https://github.com/prettier/prettier) run on JS code blocks in comments.

Not entirely sure how we can have it syntax highlighted again after the formatting though.

[2017-06-07 07:09] hkdobrev commented on #480
Do you think this is more suitable as a separate extension? I think it would need to use not only Prettier, but then its own code highlighting tool.

[2017-06-07 08:32] bfred-it commented on #480
I agree with @hkdobrev; `prettier` is 360KB, more than double RGH.

[2017-06-07 08:46] bfred-it commented on #479
I cannot reproduce on `master`

[2017-06-07 08:52] bfred-it commented on #462
If it's something that only appears once _ever_ I think we can just let it live.

[2017-06-07 09:18] sindresorhus commented on #480
I really like the idea of doing a bot instead. It would work even for people not using Refined GitHub and syntax highlighting would just work as normal without any extra work. Someone please do this!

[2017-06-07 09:39] sindresorhus commented on #462
Just display none this: `.js-marketplace-callout-container`

[2017-06-07 09:46] hkdobrev commented on #479
It is indeed quite strange. The function is actually called twice and it's fixed when I remove both async and await. Would reinstall and report back.

[2017-06-07 15:18] bfred-it commented on #479
It's it's called twice then the script is being injected twice, probably. Stick a console.log at the bottom of content.js

[2017-06-07 15:44] bfred-it commented on #479
Do you have multiple extensions loaded? 😃

[2017-06-07 20:25] sindresorhus commented on #435
🙌✨

[2017-06-11 07:51] jgierer12 commented on #480
Check out https://github.com/jgierer12/prettier-github

[2017-06-11 13:31] jdreesen opened #483 "[Firefox] Broken tab-indents in markdown code blocks"
Tab-indented code in markdown is broken in firefox when refined-github extension is enabled:
![broken](https://user-images.githubusercontent.com/424602/27011370-4398e8ee-4eba-11e7-98f5-1bb4ba2fe19b.png)

This is how it should look (with disabled refined-github extension):
![fine](https://user-images.githubusercontent.com/424602/27011372-59f8f070-4eba-11e7-9e4e-3d71d70dec27.png)

If I uncheck this

[2017-06-11 16:44] jgierer12 commented on #483
Can you link to somewhere this is happening?

[2017-06-11 17:05] jdreesen commented on #483
Yes of course, sorry, the screenshots are from https://github.com/sindresorhus/element-ready/issues/4 but I noticed this in several other places since I installed the plugin in Firefox.

[2017-06-11 21:10] sindresorhus commented on #483
@hkdobrev :arrow_up: (https://github.com/sindresorhus/refined-github/commit/f979305eeea10252433104f1c6c84d4291b9acca)

[2017-06-12 08:43] jgierer12 opened #484 "Linkify URLs in markdown code blocks"
URLs should also be linkified in markdown code blocks like these:
[code]
[code]

[2017-06-12 08:50] bfred-it commented on #484
Blocked by #467

[2017-06-12 16:57] hkdobrev commented on #483
@jgierer12

Well, I don't see why not. I admit the difference is minor, so if it's a problem for something, please remove.

[2017-06-14 02:34] bfred-it opened #485 "Make 404 pages more useful"
**Examples:**

- non-existent branch https://github.com/sindresorhus/refined-github/tree/404-branch
- existent file https://github.com/sindresorhus/refined-github/blob/shorten-url-labels/test/404.js
- deleted file https://github.com/sindresorhus/refined-github/blob/master/extension/content.js

**Possible content:**
- link to repo root
- link to closest existing directory
- link to last commit that

[2017-06-14 02:46] bfred-it opened #486 "Copy markdown from comments"
Crazy idea. _What_ **if** [you](https://youtu.be/djV11Xbc914) ~~could~~ <img align="center" width="32" alt="copy" src="http://i.imgur.com/KcadL6G.png"> `this` as markdown by just selecting the page?

[code]

It'd make copy+replying easier.

Test:

- Juan
- to
- tree

  and a half

1. hey
2. bee
3. see

[2017-06-14 08:54] bfred-it commented on #480
Excellent! I love the preservation of the original as well! The only big issue is that the instructions are for one repo at a time. Is it possible have it apply to all repos?

[2017-06-14 10:59] #463 closed

[2017-06-14 10:59] #478 closed

[2017-06-14 18:57] jgierer12 opened #489 "Real names aren't shown"
I just noticed while reviewing #488 that the real names from #251 aren't even showing up for me. I'm getting the following error:

[code]

Perhaps a Firefox issue?

BTW @bfred-it would it be possible to set up source maps?

[2017-06-14 19:35] sindresorhus commented on #489
Real names are shown for me in Chrome, so looks Firefox specific.

[2017-06-15 02:40] bfred-it commented on #489
@jgierer12 source maps enabled in 1b9c989015474260d66172d7f9fae6cd404afd47. Run `npm i`

[2017-06-15 09:44] #489 closed

[2017-06-15 10:31] bfred-it commented on #485
It could display the full URL clickable piece by piece. This URL:

[code]

would become:

## [sindresorhus](https://github.com/sindresorhus/) / [refined-github](https://github.com/sindresorhus/refined-github) / [shorten-url-labels](https://github.com/sindresorhus/refined-github/tree/shorten-url-labels) / [test](https://github.com/sindresorhus/refined-github/blob/shorten-url-labels/test/) / [~~404.

[2017-06-15 10:35] sindresorhus commented on #485
@bfred-it I like it!

[2017-06-15 10:46] hkdobrev commented on #485
This is not that hard and the same time it's too good for a separate extension! 🙌

[2017-06-15 10:48] hkdobrev commented on #485
@bfred-it The URL to the upper directory should be using `tree` instead of `blob` to save some redirects on GitHub side.

[2017-06-15 10:49] bfred-it commented on #485
@hkdobrev gotcha. Yep it'd need some URL detection as well to skip the `blob` in the original URL and to redirect the branch part to `tree/branch` instead of the original URL's `blob/branch`

[2017-06-15 13:23] #483 closed

[2017-06-15 15:55] busches commented on #479
I was able to have this occur today too.
![image](https://user-images.githubusercontent.com/857700/27190093-fd54e75a-51b8-11e7-96a0-fecba7c3b6db.png)
Running latest master, confirmed I do not have two extensions loaded. Additionally the Trending item is being added with the back button as well.

[2017-06-15 16:04] bfred-it commented on #479
ahhhh I think the [dynamic script injector](https://github.com/bfred-it/webext-dynamic-content-scripts)'s [ping receiver](https://github.com/bfred-it/webext-dynamic-content-scripts/blob/f5c92f38b20eb98959bd2d3719eacce0266edf37/dist/webext-dynamic-content-scripts.js#L33-L38) got lost. Try this PR:

[2017-06-15 16:53] jgierer12 opened #493 "Change real name styling"
#488 sparked a discussion about how the real name of comment authors (added in #251) should be styled. See https://github.com/sindresorhus/refined-github/pull/488#issuecomment-308613406 and following comments for context.

Here's a comparison between proposed styles:

1. > **jgierer12** Jonas Gierer • commented 5 hours ago • edited by arkon Eugene Cheung
1. > **jgierer12** Jonas Gierer - commented

[2017-06-15 16:55] jgierer12 commented on #493
I'd prefer 4 or 5

[2017-06-15 18:45] jgierer12 opened #494 "Embed linked Gists"
If we find a Gist link in a Markdown container, replace it with an embedded version of the Gist.

i.e.
[code]
would be replaced with (the result of)
[code]

Slightly related to #472/#473

[2017-06-15 19:06] sindresorhus commented on #494
Good idea. We should limit the height though, maybe with some kind of arrow to expand the whole thing.

[2017-06-15 22:46] hkdobrev commented on #493
:four: :+1:

[2017-06-15 23:58] bfred-it commented on #493
5️⃣

[2017-06-16 00:16] bfred-it commented on #494
https://gist.github.com/jgierer12/06a8e3913ce4ae608c010b6f47efd257

Try this from Refined GitHub's context in the console:

[code]

eval-uate alternatives.

[2017-06-16 00:31] bfred-it opened #495 "Use Promised `browser.*` APIs"
Firefox copied Chrome's extensions API, renamed `chrome.*` to `browser.*` and made them Promised.

Do you think it's worthwhile to use a `browser.*` polyfill like [mozilla/webextension-polyfill](https://github.com/mozilla/webextension-polyfill) so we can leave callback APIs (and the awful `chrome.runtime.lastError`) in the dust?

I'm guessing that the polyfill also works with unsupported APIs like

[2017-06-16 01:25] sindresorhus commented on #495
If the polyfill is good, sure.

[2017-06-16 10:10] bfred-it commented on #317
Possible solution:

* temporarily add the rule `.add-line-comment {display: none!important}` on `copy` event

[2017-06-16 15:24] bfred-it commented on #456
I'd suggest using GhostText if you want to use complex editor features: https://github.com/GhostText/GhostText

[2017-06-16 15:25] bfred-it commented on #439
I think we're good for now.

[2017-06-16 15:25] #439 closed

[2017-06-16 15:56] bfred-it opened #497 "Mark as unread doesn't update the participating number"
<img width="506" alt="screen shot 2017-06-16 at 23 55 32" src="https://user-images.githubusercontent.com/1402241/27234364-55095e54-52ef-11e7-8139-5a9373f321a5.png">

[2017-06-16 16:07] bfred-it opened #498 "Mark as read doesn't update the notifications icon"
![d](https://user-images.githubusercontent.com/1402241/27234829-fade8d26-52f0-11e7-9fce-c1a09247ebf3.gif)

[2017-06-16 16:21] #456 closed

[2017-06-16 16:51] #498 closed

[2017-06-16 21:58] jgierer12 commented on #494
https://gist.github.com/jgierer12/06a8e3913ce4ae608c010b6f47efd257.json actually contains the raw HTML and CSS for the Gist, so we don't need to `eval` the embed script 🙌

[2017-06-17 12:53] bfred-it opened #502 "Keep the tabs Insights and Settings on the right"
Without RGH, **Settings** and **Insights** are the last two tabs.

RGH adds the new **Releases** and **Compare** tabs at the end but I feel that **Settings** and **Insights** should stay at the end.

This is the current situation:

<img width="700" alt="screen shot 2017-06-17 at 20 48 06" src="https://user-images.githubusercontent.com/1402241/27253055-bc32bbe8-539e-11e7-95d0-98f17aa95136.png">

<i

[2017-06-17 12:58] jgierer12 commented on #502
This has already been attempted in https://github.com/sindresorhus/refined-github/pull/432, but it often doesn't work for me

[2017-06-17 16:33] arkon commented on #493
Seems like :four: is already winning out, but I vote for :five:

[2017-06-17 16:36] sindresorhus commented on #493
:four: 👍

[2017-06-17 16:40] arkon commented on #256
I'm wondering if an [Intersection Observer](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API) might be helpful? It could detect if the button is visible.

[2017-06-18 01:10] #502 closed

[2017-06-18 02:09] bfred-it commented on #256
@arkon detecting the position of the button is [easy](https://github.com/sindresorhus/refined-github/blob/5fae705a1fb6227ad574e9c74cb8da689ee1a334/src/content.js#L165-L171). IObserver won't help because it only fires on scroll anyway.

[2017-06-18 05:52] bfred-it commented on #256
Actually… good point! IO triggers even when the button moves in the view without any scroll/resize events (e.g. when some content is hidden and the button comes in)

Tracking each new button becomes a bit spaghetti, but it's safer than relying on a blind setInterval to achieve the same result. Submitting a PR.

[2017-06-18 08:26] bfred-it commented on #485
Idea! This file went missing:

https://github.com/sindresorhus/refined-github/blob/master/extension/content.js

Now replace `blob` with `commits` and:

https://github.com/sindresorhus/refined-github/commits/master/extension/content.js

Yep, we can get the URL to the last know commit this way. Or just link to the above.

[2017-06-18 09:49] sindresorhus commented on #485
Cool idea. Let's do it.

[2017-06-18 12:22] hkdobrev opened #507 "Org drop down is overlapping on Developer Register page"
We've moved it to the right on the homepage, but this breaks it on other pages.

Developer regster page: https://github.com/developer/register

![image](https://user-images.githubusercontent.com/506129/27260612-2e27e972-5439-11e7-90c1-df3b43acdbaf.png)

P.S. It's interesting this bug was reported to me on Twitter from fellow Bulgarian - a user of the extension who seems to have mutually blocked @s

[2017-06-18 16:02] bfred-it commented on #451
It showed up again for me. I'm just gonna add a uBlock filter:

[code]

[2017-06-18 16:03] bfred-it commented on #462
It showed up again for me. I'm just gonna add a uBlock filter:

[code]

[2017-06-18 16:04] bfred-it commented on #507
I'm wondering if that picker needs to be moved at all, I feel we had a few related issues before.

[2017-06-18 16:52] #462 closed

[2017-06-18 21:41] hkdobrev opened #508 "Use GitHub releases for new releases"
So far we have used just Git tags instead of the GitHub releases on top of them. I suggest creating GitHub releases for new versions going forward.

The main reason is that GitHub shows a notification on a new release only for GitHub releases and not Git tags.

Also, we can actually shortly describe what went into that release.

I know the extensions are usually updated automatically, but people f

[2017-06-19 04:28] bfred-it opened #510 "XSS"
The new linkify code opens us to XSS. My bad.

Open this to verify: https://github.com/bfred-it/sandbox/blob/master/test.js

The issue was passing a `textContent` to the linkifier (which could be the string `"<img src='yo.jpg'>"`) and getting back HTML. Bang. XSS.

Fixed in https://github.com/sindresorhus/refined-github/commit/21fd5f059aaa015fe8a5f1554039125265b628f3 already because of the urgency

[2017-06-19 04:35] bfred-it opened #511 "Support & in linkified URLs"
`linkifyCode` passes HTML to the linkifier (because it musts: #510), but this means that `&` is first escaped and this causes some URls to break. Example:

[code]

See it here in action: https://github.com/bfred-it/sandbox/blob/master/index.js

A solution I could think of would be to have the linkifier return actual DOM nodes so we don't have to inject plain HTML **and** this means we can pass une

[2017-06-19 10:03] sindresorhus commented on #510
I don't think your changes with XSS was released though, right?

[2017-06-19 10:17] bfred-it commented on #510
Correct. I just wanted to fix the master branch as fast as possible, even though it introduced a small bug: #511

[2017-06-19 10:31] #193 closed

[2017-06-19 10:34] sindresorhus opened #512 "Add Git hooks"
I often forget to run `npm run build` after checking out a PR branch. Would be useful to set up some shared Git hooks for running `npm install` and `npm run build` on Git changes, like updated master or other checked out branches.

Maybe using https://github.com/typicode/husky

[2017-06-19 14:09] #440 closed

[2017-06-19 14:11] #256 closed

[2017-06-19 16:05] yakov116 commented on #512
🚨   must specify --input and --output when using rollup --watch

[code]

[2017-06-19 17:17] jgierer12 commented on #508
Might be irrelevant if we decide to implement #504

[2017-06-19 20:09] hkdobrev commented on #510
@bfred-it For such urgent fixes, a better way is to create a PR and merge it immediately. This way you still have run CI, you have generated notifications and a PR is easier for review even when merged.

[2017-06-19 20:22] hkdobrev commented on #512
@yakov116 Please run `npm install` again. It should be fixed with the latest updates.

[2017-06-19 20:25] yakov116 commented on #512
@hkdobrev tried it gave the same error

[2017-06-19 22:20] bfred-it commented on #510
@hkdobrev thanks! Hopefully I won't find such urgent bugs anymore.

[2017-06-21 03:01] bfred-it commented on #512
@yakov116 the support for multiple files has been added in rollup 0.42. Make sure that npm (5?) isn't failing to install that 🙄

[2017-06-21 03:43] yakov116 commented on #512
@bfred-it thanks how would I check that?

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-21 03:46] bfred-it commented on #512
[code]

Perhaps also just downgrade to npm 4 (`npm install npm@4 --global`) or use `yarn`

[2017-06-21 03:55] yakov116 commented on #512
@bfred-it thanks will try that and report back

_Sent from my HTC Nexus 9 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-21 08:03] bfred-it commented on #508
@hkdobrev given that people don't have a choice nor are informed when extensions update, the commit list is the most appropriate and comprehensive changelog.

[2017-06-21 08:16] sindresorhus commented on #508
I agree with @bfred-it

[2017-06-21 08:19] #508 closed

[2017-06-21 10:29] blairconrad opened #513 "Phantom semicolon added to closing XML element"
Seen in the wild at https://github.com/thomaslevesque/FakeItEasy/blob/19f6cbcd444c443949eb3a9f43ce52d4eebb65e4/src/FakeItEasy/FakeItEasy.csproj#L18 when using Refined GitHub 1.19.0, it looks like

[code]

Here's an image, just in case:

![image](https://user-images.githubusercontent.com/3275797/27379782-a5b055c0-564a-11e7-9102-33036a9fdcff.png)

Note that the semicolon is not really there, as can

[2017-06-21 14:25] yakov116 commented on #512
@bfred-it that worked thanks

[2017-06-21 15:03] bfred-it commented on #512
@sindresorhus that'd be helpful, but for me it wouldn't fully resolve my issues:

- I forget to start up `watch` while working on the extension
- I forget to reload the extension after making any changes

I'm not entirely sure of how to fix these, but mind goes to

- self-destructing content.js etc — after`watch`, so that you'll always need `watch` open to load the extension
- auto-reloading the e

[2017-06-21 16:02] sindresorhus commented on #512
Size on disk doesn't matter though. We care about bundle size and execution speed. If Webpack can improve that, I wouldn't mind switching. The ["scope hoisting" in Webpack 3](https://medium.com/webpack/webpack-3-official-release-15fd2dd8f07b) looks pretty good.

[2017-06-21 16:10] bfred-it commented on #512
Good to hear. I was afraid you'd dislike webpack because of its sprawl (compared to your minimal modules)

Unfortunately, bundle size is also higher and I couldn't get the scope hosting to work, honestly. :((( In theory it should bring webpack's bundle near rollup's efficiency in speed and size.

[2017-06-22 04:49] #510 closed

[2017-06-22 04:56] bfred-it commented on #202
I'd love to see this. Relevant comments from that repo:

What's the preferred course of action? I think we should start using the API without a token and add a `token` field in the options to enable private repos support and increase the limits.

[2017-06-22 05:17] bfred-it commented on #202
There's one issue with the icons though: change of layout. We already change links on load in #473 and that causes text to move around, but it happens once right after the page load. This would happen many times as the fetches finish loading and it could get annoying fast.

Either we skip the icon (and keep the color) or we make replace the # with it, making sure it's the same exact width.

[2017-06-22 05:48] bfred-it commented on #513
Happens because:

- https://github.com/sindresorhus/refined-github/blob/c7a12c3af073b423321ff5fd97e423311c8b4b65/src/libs/linkify-urls-in-code.js#L37 transforms the node to:
    `&gt;https://fakeiteasy.github.io/&lt;/`
- and because https://github.com/sindresorhus/linkify-urls/blob/72d8831/index.js#L5 will match that  extra `&lt` as part of the URL

[2017-06-22 06:46] kumarharsh opened #515 "Add configurability to the extension"
I couldn't find an issue regarding this, but wanted to discuss this: would it be possible to add some sort of configuration to the extension to switch certain features on/off? I can create a new issue regarding this if none exists yet.

For example, I have found out that I don't really like the 'real name' being displayed against the username.
 😆 and would like to switch it off. But right now, I h

[2017-06-22 06:46] kumarharsh commented on #493
:five: but #515

[2017-06-22 07:08] bfred-it commented on #515
Duplicate of #193

You can open specific issue about the options you'd like. While they're unlikely to get added, as mentioned in the readme, perhaps there are solutions.

In your case, you can probably just hide the name with `.comment-full-name {display: none}` in a userstyle.

[2017-06-22 07:08] #515 closed

[2017-06-22 07:10] bfred-it commented on #493
I'm gonna change my vote back to 5 😅

[2017-06-22 07:18] bfred-it commented on #511
21fd5f059aaa015fe8a5f1554039125265b628f3 causes this issue because we don't want tags to be converted to real DOM during the `.innerHTML = ` injection.

I'm thinking that we can revert 21fd5f059aaa015fe8a5f1554039125265b628f3 + instead of parsing the whole string returned by `linkify-urls`, we could **exclusively** _domify_ the `<a>`'s generated by `linkify-urls`. Headache.

Or just implement this

[2017-06-22 07:55] hkdobrev commented on #493
@jgierer12 Could you please choose one of :four: or :five:? 😆

[2017-06-22 08:11] bfred-it commented on #493
[jgierer12]: https://avatars0.githubusercontent.com/u/4331946?v=3&s=16
  [bfred-it]: https://avatars3.githubusercontent.com/u/1402241?v=3&s=16
  [arkon]: https://avatars2.githubusercontent.com/u/4098258?v=3&s=16
  [sindresorhus]: https://avatars2.githubusercontent.com/u/170270?v=3&s=16
  [kumarharsh]: https://avatars0.githubusercontent.com/u/760112?v=3&s=16
  [hkdobrev]: https://avatars0.githubuse

[2017-06-22 08:31] kumarharsh commented on #493
In :five:, shouldn't arkon be bold also?

[2017-06-22 08:40] bfred-it commented on #493
Not always. _5 hours ago_ is also a link and it's not bolded. "edited by arkon" is secondary information and that's why it makes sense that it's not bold.

[2017-06-22 11:57] sindresorhus commented on #511
This would IMHO be the correct fix.

[2017-06-22 12:19] plessbd opened #516 "CSP error when running in firefox Developer Edition"
[code]
I will admit I might be doing something wrong, but I have tried to get this to work in firefox, and firefox develoepr edition without success.

The only error sI have been able to find are those above.

Any suggestions?

[2017-06-22 12:51] bfred-it commented on #516
Strange, those don't seem to be related to refined-github

[2017-06-22 13:07] plessbd commented on #516
I am going to blame my newborn (really lack of sleep) you are correct, if I disable every other extension I do not get the CSP errors.

The only error I get is the empty string one.

Still have not been able to get refined-github to work on firefox.

Sorry for the erroneous issue.

[2017-06-22 13:07] #516 closed

[2017-06-22 13:31] plessbd opened #517 "AMO release not working with Firefox Developer Edition"
I am not positive why, but the AMO release did not work with Firefox Nightly.
However, after I installed https://addons.mozilla.org/en-US/firefox/addon/chrome-store-foxified/ and installed the version from the chrome webstore it worked without issue.

Thought I would share incase anyone else has issues or if there is something else going on.

[2017-06-22 13:42] #486 closed

[2017-06-22 13:51] jdreesen commented on #516
I get the same errors when uBlock is enabled:

[code]

When disabling uBlock I only get the empty string one, too.

I'm using Firefox 54.0 (64-Bit).

[2017-06-22 14:03] arkon commented on #493
I agree that the "edited by arkon" portion is secondary. It makes sense to have the first username bolded since that's the main focus of that entire string, and complements the picture to its left.

[2017-06-22 15:56] jgierer12 commented on #493
It's 5️⃣ then 😊

[2017-06-22 16:00] jgierer12 commented on #202
We could add a padding via CSS and make the icon absolutely positioned

[2017-06-22 16:58] bfred-it opened #518 "Organize feature list by type"
The feature list is scary long now 😅

I think it should be grouped by type, shortened, or tabled, screenshotted, etc something — because no one will read that many entries!

[2017-06-22 17:06] sindresorhus opened #519 "Deploy is failing"
https://travis-ci.org/sindresorhus/refined-github/builds/245849567

[code]

[2017-06-22 17:06] sindresorhus commented on #519
// @bfred-it

[2017-06-22 17:11] bfred-it commented on #519
Ahhh true, you'll have to set up the keys in travis. Hold on

[2017-06-22 17:13] bfred-it commented on #519
Get them here: https://addons.mozilla.org/en-US/developers/addon/api/key/

[2017-06-22 17:13] bfred-it commented on #519
Save them as:

<img width="181" alt="screen shot 2017-06-23 at 01 13 15" src="https://user-images.githubusercontent.com/1402241/27446712-285aee10-57b1-11e7-8463-bc94a98baf0b.png">

[2017-06-22 17:14] bfred-it commented on #472
Reopening to change the filename separator to `:`

[user/repo:filename@`master`](#nope) <-- changes to `:`
[/filename@`master`](#nope) <-- stays the same

[2017-06-22 17:15] bfred-it commented on #519
Which module is trying to include `html-tags`?

[2017-06-22 17:24] sindresorhus commented on #519
Done

[2017-06-22 17:36] bfred-it commented on #202
Hey, that's an easy way out. 👍 It'll also need a temporary icon then because otherwise the extra padding will look bad until the icons are in.

[2017-06-22 17:44] bfred-it commented on #516
<img width="745" alt="screen shot 2017-06-23 at 01 41 22" src="https://user-images.githubusercontent.com/1402241/27447837-244a7288-57b5-11e7-93c5-7b8ef1133494.png">

It works fine for me in both v49 and v55.0b3

[2017-06-22 17:47] bfred-it commented on #517
<img width="745" alt="screen shot 2017-06-23 at 01 41 22" src="https://user-images.githubusercontent.com/1402241/27447837-244a7288-57b5-11e7-93c5-7b8ef1133494.png">

It works fine for me in both v49 and v55.0b3 — both the current version on master and the version on Mozilla Addons.

The console errors in my console are GitHub's own.

[2017-06-22 18:15] sindresorhus opened #521 "Blog post - Feedback wanted"
I wrote a quick blog post about what's new in Refined GitHub lately. Could use some feedback.

https://medium.com/@sindresorhus/whats-new-in-refined-github-836d05582df7

[2017-06-22 18:23] bfred-it commented on #521
Nice! I had missed that one.

The post looks pretty good!

[2017-06-22 18:26] busches commented on #521
Looks good.

[2017-06-22 18:45] jgierer12 commented on #521
Looking great :)

[2017-06-22 19:57] plessbd commented on #517
First thing I did was a new profile:
<img width="1160" alt="screen shot 2017-06-22 at 3 56 47 pm" src="https://user-images.githubusercontent.com/683012/27453142-732bc052-5763-11e7-961e-eb96a2286c31.png">

[2017-06-22 20:14] hkdobrev commented on #521
Gosh, you guys are putting features out so fast that one starts to forget about them! Great post and almost feels like a retrospective for me. @sindresorhus Thank you for that! ❤️

Even though I like the spirit of the last sentence:

It's funny that this seems so impossible at the moment (compared to the beginning) with us adding so many new things so fast and with GitHub adding mostly things abou

[2017-06-22 20:39] paulmolluzzo commented on #521
This is excellent! I've been head down lately, but WOW the work done lately has beeen so awesome!

🔥🔥🔥 For real @bfred-it!

[2017-06-22 22:05] sindresorhus commented on #521
Published: https://blog.sindresorhus.com/whats-new-in-refined-github-836d05582df7

[2017-06-22 22:08] #521 closed

[2017-06-22 22:10] sindresorhus opened #522 "'Copy to Markdown' improvements"
Related to #486 and #487
- [x] Images with a `width` or `height` attribute set needs to be converted back to an `<img>` as Markdown images can't have a width/height
- [ ] ~~Mentions should not be converted to links~~
- [x] Copying a rendered emoji (🔥🔥🔥) in Chrome on macOS results in: `<g-emoji alias="fire" fallback-src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f525.png" ios-versio

[2017-06-23 01:42] bfred-it commented on #522
- [ ] Copying the a whole code block (and nothing else) should not include markdown. e.g. triple click this on a Mac:
[code]

[2017-06-23 04:01] bfred-it commented on #270
It happened #510

Also relevant:

[2017-06-23 04:06] bfred-it commented on #522
Links are a bit complicated: `#130` should be copied as:

`https://github.com/sindresorhus/refined-github/issues/130` instead of
`[#130](https://github.com/sindresorhus/refined-github/issues/130)`

but perhaps it's not worth the trouble.

[2017-06-23 05:43] jthegedus opened #523 "Right-aligned issue labels"
Right-aligned issue labels would improve visual grepping as they would be horizontally aligned, unlike the staggered pattern we have now.

![github-issue-labels](https://user-images.githubusercontent.com/20798510/27468037-80fc8424-582a-11e7-83c3-ac47267496d8.png)

The proposed placement would be to the left of where the Assignee is, regardless of if there is any. Milestones and Author appear on th

[2017-06-23 05:46] bfred-it commented on #523
Definitely :+1: for me. Tags are messy. Let's see what the others say

[2017-06-23 07:02] bfred-it commented on #479
New issue report here: https://github.com/sindresorhus/refined-github/pull/492#issuecomment-310583630

[2017-06-23 12:27] plessbd commented on #517
looks like it might be page specific.
The news feed as you show does work on mine as well.  But the repository pages are not working

[2017-06-23 13:07] plessbd commented on #517
I have gotten a bit further, when visiting this issue page and having the debugger
"stop on exception" it stops with an SyntaxError Exception on
unreadIndicatorIcon@moz-extension://66e81471-ae34-184e-8fcc-4697b3c8ef52/mark-unread.js:237:6
which when looking at the source code looks quite a bit different

[code]

which does seem like a syntax error...

[2017-06-23 13:39] fnky opened #524 "Doesn't show list of repositories contributed to"
The extension hides the **Repositories you contribute to** list in the sidebar of the GitHub front page. It also hides the (convenient) header from the **Your repositories** list with the **New repository** button.

![image](https://user-images.githubusercontent.com/995050/27484604-23535a14-582a-11e7-9fe3-6420ff52dd00.png)

[2017-06-23 13:39] plessbd opened #525 "Feature Change: Reaction Avatars should link to user"
Currently if you click on a reaction avatar it will add you to that reaction, which I found a bit odd.
I think it should either link that that persons profile or do nothing.

[2017-06-23 13:41] fnky commented on #475
Is it also supposed to put the humanized time above the event text? GitHub's default feed seems much cleaner compared to Refined:

![image](https://user-images.githubusercontent.com/995050/27484686-6be657fe-582a-11e7-9978-d233a7ea55ae.png)

[2017-06-23 13:45] fnky commented on #525
The problem is actually that the event handler for reaction prevents any clicks to the underlying anchor tags inside of it. You will notice that there actually is a link to the avatar when you hover it.

[2017-06-23 13:51] plessbd commented on #525
Well that explains it.  Firefox actually doesn't show this on hover, so I didn't see it.

[2017-06-23 13:51] #525 closed

[2017-06-23 13:53] plessbd commented on #475
I personally like that the time is above, makes it easier to scan for the time since it is always in the same spot.

[2017-06-23 13:54] bfred-it commented on #517
What are you using exactly, that code is not there anymore:

[code]

https://github.com/sindresorhus/refined-github/blob/f073dd2/src/libs/mark-unread.js#L236-L244

[2017-06-23 13:54] fnky commented on #475
True. However I'd still like it to be a lot smaller than it currently is, as it fills the page a lot more on smaller screens.

[2017-06-23 13:57] bfred-it commented on #517
Ah. 1.20.1 is not on AMO. Investigating...

[2017-06-23 13:58] sindresorhus commented on #475
Consistency.

Happy to consider design tweaks, but it should apply consistently to all news items.

[2017-06-23 13:59] sindresorhus commented on #475
@fnky Can you open a separate issue about it? It's unrelated to this issue.

[2017-06-23 14:00] bfred-it commented on #524
That's a feature:

https://github.com/sindresorhus/refined-github/blob/2ba0840b852bebfc881b8bf50db7182287047a70/extension/content.css#L15-L18

Use Stylish to undo that feature with:

[code]

[2017-06-23 14:00] #524 closed

[2017-06-23 14:00] sindresorhus commented on #524
It's already available from the top navbar. The `+` button.

[2017-06-23 14:02] bfred-it commented on #525
In Chrome you can right click on the avatars to open the link, but Firefox disables links inside buttons.

[2017-06-23 14:13] fnky commented on #524
It seems inconvenient to require another extension to undo feature with CSS.

[2017-06-23 14:21] sindresorhus commented on #524
@fnky Why and how do you use the "Repositories you contribute to list"? I removed it as I never used it and the below box has mostly the same information.

[2017-06-23 14:23] #517 closed

[2017-06-23 14:23] bfred-it commented on #517
The extension's ID did not match the ID on AMO, so AMO thought it was an unlisted extension and it just signed it:

<img width="624" alt="screen shot 2017-06-23 at 22 22 23" src="https://user-images.githubusercontent.com/1402241/27486209-75e7a7ca-5862-11e7-8d47-86e189956e02.png">

[2017-06-23 14:25] bfred-it commented on #524
@fnky it is inconvenient, but that's convenient to avoid adding a hundred options:

https://github.com/sindresorhus/refined-github#contribute

[2017-06-23 15:06] sindresorhus opened #526 "Refined GitHub is on Softpedia"
http://www.softpedia.com/get/Internet/Internet-Applications-Addons/Chrome-Extensions/Refined-GitHub.shtml

And it seems almost 200 people have downloaded it from there. And someone wrote an extensive description. Weird.

This is just an FYI.

[2017-06-23 15:06] #526 closed

[2017-06-23 15:14] bfred-it commented on #526
:nauseated_face:

[2017-06-23 15:17] bfred-it commented on #517
1.20.1 is now on AMO. Update!

[2017-06-23 15:37] plessbd commented on #517
@bfred-it I knew the code wasnt there that is why I said it didnt look the same :)

I can confirm this is now working thank you

[2017-06-23 15:41] bfred-it commented on #517
Excellent! Thanks :)

[2017-06-23 16:05] kevva opened #527 "Broken notifications indicator"
I think a bug was introduced in https://github.com/sindresorhus/refined-github/commit/f073dd285750a9116722918c5efea40193fd58b5 which causes the notifications indicator to show that you've no unread notifications in some cases. Works in the notifications page though.

![bug](https://user-images.githubusercontent.com/709159/27490425-7ef91ee4-583e-11e7-90af-3248a8c36e52.gif)

[2017-06-24 05:50] fregante opened #530 "Automatically refresh an empty notification page on new notifications"
1. Empty: https://github.com/notifications

    <img width="275" alt="no notif" src="https://user-images.githubusercontent.com/1402241/27506095-c35b0a70-58e3-11e7-91c5-f5dfd886ba81.png">

2. New notification comes

    <img width="275" alt="yes notif" src="https://user-images.githubusercontent.com/1402241/27506096-c55cf388-58e3-11e7-8f1b-c5c754e306b2.png">

3. _GitHub don't care_
4. Refined GitHub

[2017-06-24 07:21] hkdobrev commented on #530
Is that possible? I've don't think GitHub would update the notification icon.

[2017-06-24 07:35] bfred-it commented on #530
Yeah they do update the icon, which is why it's strange they wouldn't also update the view.

If we do this, we should only update if the view is empty or `document.hidden === true`, otherwise it's hard to manage a _diff_ and it'd make links move down.

[2017-06-24 07:41] #472 closed

[2017-06-24 11:09] bfred-it commented on #479
I saw this issue once I re-enabled the AMO version, but then I reloaded the page and it stopped appearing (for now)

It might happen once.

[2017-06-24 11:58] SimenB commented on #479
What's AMO? 😅

[2017-06-24 13:12] fnky commented on #524
@sindresorhus I use it to quickly access private repositories and those I've contributed to.

@bfred-it I understand that adding a bunch of options for everything would be undesired.

[2017-06-24 14:32] bfred-it commented on #479
Mozilla Addons site 😃

[2017-06-24 16:14] philipp-spiess opened #534 "Exception when web notifications are disabled"
The Chrome plugin will not load, when Github's Web notifications are disabled (I'm using Mail notifications, so there is no `.mail-status` element).

I would still love to use the other features of Refined GitHub, so this API should probably be safeguarded.

[code]

[2017-06-24 23:46] #507 closed

[2017-06-24 23:55] #527 closed

[2017-06-25 00:18] sindresorhus commented on #519
@bfred-it Why is this failing? https://travis-ci.org/sindresorhus/refined-github/builds/246668987#L239

Validating add-on [                          .  .          .     .             ]
sign: Error: Received bad response from https://addons.mozilla.org/api/v3/addons/%7Ba4c4eda4-fb84-4a84-b4a1-f7c1cbf2a1ad%7D/versions/17.6.24.2348/uploads/52d3cf7ea30c4516a135f2f7baaaa07f/; status: 401; response: {"d

[2017-06-25 01:37] bfred-it commented on #519
Whoah that never happened. It might be a good idea to open an issue on web-ext.

I should specify that `web-ext submit` doesn't exist so I created a wrapper that calls `web-ext sign` and discards the "submitted but not yet signed" error.

[2017-06-25 03:10] OmgImAlexis commented on #479
It's getting worse. Yesterday I had 20 of them. 😨

![screen shot 2017-06-25 at 12 39 37 pm](https://user-images.githubusercontent.com/6525926/27513393-6effa718-59a3-11e7-8d34-37e4de3186b5.png)

[2017-06-25 04:06] bfred-it commented on #479
I'm having a hard time figuring this out. Surprisingly, `chrome.permissions` doesn't include github.com (because in manifest.json it's only specified in `content_scripts` but not `permissions`), so the injector should be stopped [pretty early](https://github.com/bfred-it/webext-dynamic-content-scripts/blob/ed45ec9/src/index.js#L31-L38) and it should not run at all.

Can you [inspect the background

[2017-06-25 04:10] bfred-it commented on #479
Are the Trending links consistently there? All the time every time?

If so, try this:

1. visit a repo
2. paste this in the console:
[code]
3. visit the Issues tab

Nothing should appear in the console, the page should be loaded via ajax (i.e. the console should still contain what you pasted)

[2017-06-25 06:32] #534 closed

[2017-06-25 07:06] bfred-it commented on #519
Uh, AMO review:

I'm going to assume that the only change necessary would be unminifying jQuery and **not** unbundling all the dependencies.

[2017-06-25 08:47] bfred-it commented on #270
Sanitized `addReadmeButtons`: #538

All over the extension we create elements via `$('html')` and similar methods. We should start restricting this HTML to our own strings and limit as much as possible user content.

Example:

[code]

[2017-06-25 09:52] bfred-it opened #539 "Using JSX to create elements XSS-free"
We use HTML strings with user-provided data all over the extension, this is XSS 101.

The alternative to that is a lot of inelegant calls and de-XSS-ifying [this piece of code](https://github.com/sindresorhus/refined-github/blob/82c11c1a1906bc735892256f25295e436153b53a/src/libs/mark-unread.js#L187-L214) gets ugly real fast.

I wish there was a JSX-to-DOM compiler that allowed use to write safe HTM

[2017-06-25 14:24] OmgImAlexis commented on #479
![screen shot 2017-06-25 at 11 49 00 pm](https://user-images.githubusercontent.com/6525926/27516861-ea18d606-5a00-11e7-8c6c-9d00f903a6ad.png)

The trending links seem to start off on 1 or 2 and then add another on the first time I load another section within the repo like the issues/PRs/Releases, etc. e.g. issues only gives 1 more but going to 3 repos and clicking issues each time adds 3.

![scree

[2017-06-25 14:28] deadcoder0904 opened #540 "Adds Trending Menu on Top multiple times"
![screenshot from 2017-06-25 19-57-40](https://user-images.githubusercontent.com/16436270/27516922-a3048eb0-59e0-11e7-8b03-b16d796bdbc5.png)

This issue start occuring from past 2-3 days

[2017-06-25 14:39] jgierer12 commented on #540
Duplicate of #479

[2017-06-25 14:39] #540 closed

[2017-06-25 16:22] bfred-it commented on #479
I'll some logging at every step and push to Chrome so we can get more details.

[2017-06-25 23:26] sindresorhus commented on #519
I assumed so too.

[2017-06-26 19:47] busches opened #542 "JS Error on Settings/Notifications"
Navigating to the Settings/Notifications page is throwing the following JS error (with Sourcemaps):
[code]

The regexp, https://github.com/sindresorhus/refined-github/blob/master/src/libs/page-detect.js#L51, testing for notifications is too generic. I was going to fix this, but there are no tests for this function :-1: and don't have the time to regression it at this moment.

[2017-06-26 19:52] busches opened #543 "JS Error on Repo when behind proxy"
On the latest master, I'm getting the following JS error when navigating basically anywhere on Github itself.

The first error I don't care about, but the second and third are coming from Refined GitHub
![image](https://user-images.githubusercontent.com/857700/27557298-b29deb02-5a7e-11e7-87cd-2ffa43af4542.png)

I'm not sure where the below error is being thrown from, even with sourcemaps on I get

[2017-06-26 19:56] busches commented on #542
And I'm not on the latest master for some reason, I can see this is a duplicate of #534 and blowing away my  checkout and starting over this is fixed. :)

[2017-06-27 05:19] bfred-it commented on #543
That's not us, it's likely an ad blocker

[2017-06-27 05:19] #543 closed

[2017-06-27 07:02] bfred-it commented on #522
- [ ] Exclude elements outside `.markdown-body`. The `copy` event is triggered on the element that contains the selection start, but if your selection ends outside, it will also include a bunch of other unrelated elements.

[2017-06-27 07:21] hkdobrev commented on #524
I would have agreed it was useful as I see daily other people navigating to their everyday repos from there. However, I use the Chrome omnibox so much for navigating to recent repos based on name and autocompletion that I've stopped looking at the box altogether.

[2017-06-27 07:22] bfred-it commented on #522
Are you sure about that? If I mention @sindresorhus and then someone copies this text, I'm not sure if the intent would be to notify you again.

[2017-06-27 07:23] hkdobrev commented on #524
Also, if the repos you constantly access are in an organisation, just use the account switcher above. Then the repo list changes to the last updated repos of the org you have selected.

[2017-06-27 07:35] bfred-it commented on #522
- [ ] No line breaks when selecting any list:

- Juan
- to
- tree

1. hey
2. bee
3. see

- one
- multiline
  text
- three

- [ ]  `<ol>` not supported?

1. one
2. two
3. three

[2017-06-27 10:14] hkdobrev opened #547 "Duplicate the expand button in the middle on split diffs"
When you are looking at a diff, you have an Expand button to show more context around the changed lines.

When you are using the Unified diff, the expand button is on the left and it's all good.

When you are using the Split diff, though, the expand button is still only on the left and it's pushed too far to the left.

I suggest to either duplicate or move the expand button on Split diffs to be pr

[2017-06-27 10:19] bfred-it commented on #547
For reference:

<img width="207" alt="screen shot 2017-06-27 at 18 19 06" src="https://user-images.githubusercontent.com/1402241/27582886-23c71ab0-5b65-11e7-85a1-01f784b73261.png">

[2017-06-27 10:20] bfred-it commented on #547
Perhaps the whole line can become a button. Add a hover state and then `.onclick => expand.click()`

[2017-06-27 13:49] #542 closed

[2017-06-27 13:51] #519 closed

[2017-06-27 13:52] sindresorhus commented on #522
Agreed. Didn't think about that.

[2017-06-27 14:55] j-f1 commented on #267
Isn’t this feature complete?

[2017-06-27 15:01] bfred-it commented on #267
It's been moved

https://github.com/sindresorhus/refined-github/pull/509

[2017-06-27 15:01] #267 closed

[2017-06-27 15:05] j-f1 opened #548 "Add dropdown menu to the search bar scope"
Currently:

* On a repo page:
    <img width="313" alt="This repository | Search" src="https://user-images.githubusercontent.com/25517624/27594328-793b0f26-5b27-11e7-980a-fa2c7edbc8a2.png">
* On an organization page:
    <img width="312" alt="This organization | Search" src="https://user-images.githubusercontent.com/25517624/27594353-8705ac7e-5b27-11e7-9b46-44601d89c6e3.png">
* Elsewhere:
    <img

[2017-06-27 15:06] bfred-it commented on #548
What would the scope dropdown include?

[2017-06-27 15:08] j-f1 commented on #548
On a repo page: repo, org/user, all of GitHub.

On an org/user page: org/user and all of GitHub

[2017-06-27 15:15] bfred-it commented on #548
1. ✅ "user search" on User page sounds good. There's only a simple search in the user's Repositories view
2. ❌ "User search" from repo page sounds rare and it'd just be a click away anyway (click user page, use the User search of point 1)
3. ❌ "all of GitHub" is always one <kbd>backspace</kdb> away everywhere, so no dropdown is ever necessary.

[2017-06-27 20:13] michaelzoidl opened #549 "Hide repo meta-info when empty and no access to edit"
If a repo-admin didn't set a description it shows `No description, website, or topics provided.`, my proposal is to hide those informations for non-admins, its a obvious information i don't need always on the top of a repo. (space is everything 👆)

**Here is a preview how it looks at the moment and how it could look:**

At the moment:
![](https://mjz.io/htSQ5.png)

Prosposal:
![](https://mjz.io/rm

[2017-06-27 21:23] hkdobrev commented on #549
@michaelzoidl This is an excellent suggestion for this extension! Would you care to create a pull request?

[2017-06-27 21:29] hkdobrev commented on #548
A bit off-topic, but I'm using https://chrome.google.com/webstore/detail/awesome-autocomplete-for/djkfdjpoelphhdclfjhnffmnlnoknfnd which significantly changes the search experience on GitHub when you are just using the search box on every page. I wouldn't say it's useful everyday, but it's worth a try if you are searching a lot for different things.

[2017-06-28 01:06] bfred-it commented on #548
True! I installed it so long ago that I forget it's not part of GitHub itself

[2017-06-28 01:08] bfred-it commented on #549
Only if it's instant though, I wouldn't like the whole page to jump up seconds later.

[2017-06-28 01:40] paulmolluzzo commented on #549
As long as the solution is CSS it won't jump.

[2017-06-28 01:40] busches commented on #213
@sindresorhus @bfred-it looks like this can be closed thanks to #436

[2017-06-28 01:46] busches commented on #310
@hkdobrev agree it's no longer needed with the improvements they've pushed to code reviews.

[2017-06-28 01:55] busches commented on #479
An easy way to work around this is to add the same code we have for most other items we add to the dom and check for it's existence before adding it. Doesn't solve the root cause of why the extension is running twice, but if it's an odd edge case, it may be worth the time savings of solving it the quick and easy way, especially since we use that pattern for everything else.

[2017-06-28 01:58] busches commented on #480
Is there still interest in adding this to Refined Github? Having it separate seems to be the way to go.

[2017-06-28 02:05] #310 closed

[2017-06-28 02:13] bfred-it commented on #480
The GitHub app works well for me, although it needs to be enabled by the repos/org's owner. I'd rather not have it inside Refined GitHub

[2017-06-28 02:16] #213 closed

[2017-06-28 03:51] bfred-it commented on #479
I'd rather not do that because it'd push the real problem under the rug, deprioritizing the issue. You don't want an extension to run 10 times.

[2017-06-28 20:22] paulmolluzzo commented on #479
While that's fair, I think it's worth fixing the issue as best as we can immediately and then addressing the larger issue without this clear bug in the way.

I think @busches suggestion of checking for the existence of the element before adding it is a fine fix for now (we're doing it elsewhere already). Later when we have time to circle back on the underlying issue we can also remove the unnecess

[2017-06-28 20:25] SimenB commented on #479
+1 for quick fix, it's really annoying...  Even though I get an itch by treating symptoms and not the underlying issues

[2017-06-28 20:35] busches commented on #479
@bfred-it I'm not suggesting we ignore the issue all together, only that we put in the workaround as it's super annoying, as @paulmolluzzo and @SimenB mentioned.

[2017-06-28 23:22] hkdobrev commented on #549
Implemented in #553.

[2017-06-28 23:22] #549 closed

[2017-06-28 23:33] hkdobrev commented on #372
- GitHub now has PR review dismissals
- We're heavily using 👍 on review comments on reply comments to mark something is updated
- I'll suggest contacting GitHub about adding ✅ to emoji reactions
- You could contact GitHub with more suggestions on PR review comment resolutions
- You could spend time improving the other extension focusing on PR review comments
- It's too big of a scope and effort fo

[2017-06-28 23:33] #372 closed

[2017-06-28 23:59] sindresorhus commented on #521
850 more people are using Refined GitHub after the blog post was published.

[2017-06-29 00:14] paulmolluzzo commented on #521
🎉

[2017-06-29 01:01] jiaweihli commented on #372
That's fair, thanks for following up on this.

[2017-06-29 12:39] abnersajr commented on #475
@sindresorhus this problem has been caused by some `.create.simple` elements.
Inspecting the DOM is possible to see what kind of content normally has been shown there. Is simple alerts like create a branch.

Can you assign this issue to me?
I'm fixing that.

[2017-06-29 12:55] sindresorhus commented on #475
Done

[2017-06-29 14:04] vadimdemedes commented on #539
Excellent idea. I would be more than happy to implement that project.

[2017-06-29 14:06] vadimdemedes commented on #523
Interesting idea! I'd also mention that tags should be sorted to make "visual grepping" even easier.

[2017-06-29 14:08] bfred-it commented on #539
If anyone starts, it'd be nice to have that exact big chunk of HTML be the first part to be JSX-ified to make sure it actually solves a problem :)

[2017-06-29 14:28] sindresorhus commented on #523
I'm not really bothered by how it currently works, but I'm fine with changing it to this proposal.

[2017-06-29 15:33] aaronjensen opened #556 "Option to disable font override"
GH now has SF Mono by default, which is quite a nice font. I'd rather not see operator mono. Would it be possible to make the font override an option? Thanks!

[2017-06-29 15:54] sindresorhus commented on #556
Yeah. Either we drop it altogether or we disable it by default and add a font and font size option.

[2017-06-30 11:58] SCdF opened #557 "PR diff whitespace doesn't line up with expanded whitespace"
MacOS, Chrome.

Check out this PR: https://github.com/medic/medic-bulk-utils/pull/15/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L16

Now expand the code above it. Without Refined github it will look like this:
![image](https://user-images.githubusercontent.com/583851/27734648-b5781e02-5d93-11e7-98fa-0116397f5172.png)

With Refined Github it looks like this:

![image](https://user-images.githubuser

[2017-06-30 12:39] #493 closed

[2017-06-30 17:06] vadimdemedes commented on #539
Done - https://github.com/vadimdemedes/dom-chef! Submitting a demo PR soon.

[2017-06-30 20:38] arkon opened #559 "Collapse "+1" comments"
Threads sometimes end up having a bunch of comments that just consist of "+1", which are pretty annoying. See [this thread](https://github.com/Microsoft/vscode/issues/178) as an example.

A nice feature would be to show these comments in a more collapsed way so they don't waste as much space.

[2017-06-30 20:59] sindresorhus commented on #559
Users should just use reactions. If you have a problem with users not using those, a bot that auto-deletes such comments would be a better solution.

[2017-06-30 21:02] well1791 commented on #559
Agreed, if those comments give no value to the issue, it's better to delete them. But still, having a feature that collapse those things is useful.

[2017-06-30 21:04] arkon commented on #559
If I could go around deleting all the +1 comments, I would. ¯\_(ツ)_/¯

[2017-06-30 21:09] sindresorhus commented on #559
We used to have this feature, but it was removed in favor of GitHub reactions.

[2017-07-01 21:09] fluffywaffles opened #560 ""Project" tab under a repository doesn't show up, even under dropdown"
The entire issue is in the title!

Let me know if there's some way I can help fix. Thanks!

[2017-07-01 21:16] sindresorhus commented on #560
It only shows up if you have a project. This is documented in the readme.

[2017-07-01 21:16] #560 closed

[2017-07-01 21:17] #559 closed

[2017-07-01 21:22] bfred-it commented on #560
Since we have a drop down now I suggest stuffing it in there instead. We already decided that More is full of stuff we don't use anyway.

[2017-07-01 21:43] sindresorhus commented on #560
@bfred-it 👎 I don't see how that changes anything. We shouldn't use it as a junk drawer. "Projects" was removed for other reasons. The ones in the "More" are just less useful, not completely useless.

[2017-07-02 01:35] fluffywaffles commented on #560
@sindresorhus I thought my use-case (I don't have a project and I want to add one) was useful. But this is your project, of course; I'll just disable it so I can make projects from my repo pages if I can't find the button.

[2017-07-02 01:39] bfred-it commented on #560
You can create Projects from your repo's settings page:

<img width="430" alt="screen shot 2017-07-02 at 09 39 22" src="https://user-images.githubusercontent.com/1402241/27766649-56e2cd9c-5f0a-11e7-99bf-c43d5c968ed1.png">

After creating one, the Project tab will re-appear.

[2017-07-02 01:43] fluffywaffles commented on #560
Thanks for the tip, @bfred-it ! I didn't realize you could do that.

I don't think this project is actually for me, regardless. I guess I prefer having a common UI with my collaborators over the improvements from the extension. Thanks though!

[2017-07-02 16:27] xPaw opened #561 "Make hiding of events in dashboard configurable"
This extension hides pushes for example, and I would like to keep seeing them.

[2017-07-03 03:33] hkdobrev commented on #560
Hey @fluffywaffles, thanks for dropping by! The extension is meant for power users who already know their way around GitHub fairly well. But even that said, it's quite opinionated. Any feedback on non-intuitive things is always welcome!

BTW the add project button in the settings is added by the extension specifically because we are hiding the projects tab when there aren't projects. This way user

[2017-07-03 04:23] bfred-it commented on #560
@sindresorhus makes sense. How about just putting the **Add a project** button in the dropdown then? It doesn't affect you, nobody else but admins will see it and those who can see it and are bothered by it can also disable the projects altogether.

[2017-07-03 12:24] sindresorhus commented on #560
👎 from me.

- It doesn't fit with the other buttons. This is an action, the other buttons are for going to root pages.
- It will clutter the menu for no good reason. It's not like you add a project to repos daily. Only things you use very often should be in the main UI. The rest fits in the Settings page.
- It's easy to say that users can just disable "Projects", but most won't bother to do that,

[2017-07-03 15:07] bfred-it commented on #561
You can use [Stylish](https://chrome.google.com/webstore/detail/stylish-custom-themes-for/fjnbnpbmkenffdnngjfgmeleoegfcffe?hl=en) to display them again:

[code]

[2017-07-03 15:07] #561 closed

[2017-07-03 15:08] xPaw commented on #561
Good solution, I will uninstall the extension instead then.

[2017-07-03 15:08] bfred-it commented on #561
To each their own, we don't earn anything from your installation :)

[2017-07-03 15:10] xPaw commented on #561
This "feature" is not documented in readme, and is too opinionated compared to some of the other features.

[2017-07-03 17:48] hkdobrev opened #562 "Delete comment button should not be next to edit"
In the spirit of #410, we should move the delete comment button next to inline review comments away from the edit comment button. It's even worse with these small buttons which show up only on hover.

![image](https://user-images.githubusercontent.com/506129/27803169-12fc3e30-6020-11e7-8029-45bd046c340d.png)

[2017-07-03 17:55] bfred-it commented on #562
I don't see the issue, delete requires a confirmation

[2017-07-03 18:21] hkdobrev commented on #562
@bfred-it As does the cancel button we've moved before.

[2017-07-04 05:27] bfred-it opened #565 "Content scripts/styles are erroneously injected multiple times"
Caused by https://github.com/bfred-it/webext-dynamic-content-scripts. Hard to debug because it only happens to some.

Related issue: https://github.com/bfred-it/webext-dynamic-content-scripts/issues/2

Replaces issue: https://github.com/sindresorhus/refined-github/issues/479

[2017-07-04 05:27] #479 closed

[2017-07-04 09:25] Soreine opened #566 "Don't hide new comment toolbar"
<img width="724" alt="screen shot 2017-07-04 at 11 16 18" src="https://user-images.githubusercontent.com/5644953/27823791-aaa55354-60aa-11e7-8b01-01817183db2f.png">

This is an anti-feature. It does not remove UI bloat. Instead it removes the ability to easily quote an entire block of text, to easily convert a few lines in an ordered list, etc.
The toolbar is not just about typing Markdown. It has

[2017-07-04 10:09] bfred-it commented on #566
You can use [Stylish](https://chrome.google.com/webstore/detail/stylish-custom-themes-for/fjnbnpbmkenffdnngjfgmeleoegfcffe?hl=en) to display them again:

[code]

[2017-07-04 10:13] hkdobrev commented on #561
I agree with that and would like to make the news feed changes configurable. Is there more supoort for that to reopen?

[2017-07-04 10:21] bfred-it commented on #561
Re-showing them is almost as easy as setting an option, it's not a JS feature that destroys the DOM irreparably. Honestly the only existing option could as well be removed for the same reason.

There's so much happening in the feed, before you know it someone will request an option for it. I'm not against options specifically but this is too easy to undo.

[2017-07-04 10:26] xPaw commented on #524
This quickly gets annoying if you work on repositories across different organisations during the day.

[2017-07-04 10:28] bfred-it commented on #158
Also: `alt+click` downloads any link in Chrome and [Firefox + config](https://support.mozilla.org/en-US/questions/929585)

You can `alt+click` the Raw button to download the file.

[2017-07-04 10:33] Soreine commented on #566
Thank you for the workaround.

Here is the exact CSS rule:
[code]

The first line restrict the style to GitHub.com only. It was written for Firefox since I'm using the unofficial Firefox version of Refined GitHub. You can either adapt it or remove it if you are using Chrome.

<img width="728" alt="screen shot 2017-07-04 at 12 32 18" src="https://user-images.githubusercontent.com/5644953/27826814-d

[2017-07-04 10:34] bfred-it commented on #566
What do you mean? What's the unofficial Firefox version?

[2017-07-04 10:36] hkdobrev commented on #566
When I look at a colleague's screen who is not using the extension I really feel frustrated of the fact GitHub thinks this is useful.

I just use my text editor if I need to do something fancy, but this is like 1% of my GitHub comments.

---

👍 on working around that or uninstalling the extension instead. I realise Refined GitHub is removing features and not only unnecessary UI elements, but that'

[2017-07-04 10:39] bfred-it commented on #566
Non-developers don't like not-pressing buttons, it's useful for them at least.

I don't feel particularly strongly about this feature either, so I think I'll use my own CSS to re-enable. :D

[2017-07-04 10:40] Soreine commented on #566
@bfred-it said

Nevermind. While looking through issues for my problem, I thought reading about Firefox not being officially supported. It actually is.

@hkdobrev
Sure. The only question is: who should be using Stylish to customize the toolbar to his taste? Should it be hidden or not by default?

[2017-07-04 10:44] hkdobrev commented on #566
Here are the scenarios in my opinion:

1. People using default GitHub interface.
2. People using GitHub + custom styles to remove/improve things they don't like.
3. People using an opinionated extension for GitHub with all of its opinions.
4. People using an opinionated extension for GitHub with custom styles to customize it according to their own preference.

All of the above scenarios are comple

[2017-07-04 10:45] bfred-it commented on #243
It's been released!

### [Refined GitHub for Firefox](https://addons.mozilla.org/en-us/firefox/addon/refined-github-/) 🎉